<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <unity configSource="Unity.config"/>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\LogTMD\\TestLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="BaseDatos" value="TMD"/>
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>

  <connectionStrings>
    <!--<add name="TMD"
         connectionString="Data Source=WIN-FC39PTDFLNT\NERV;Initial Catalog=TMD;Integrated Security=YES; Min Pool Size=5; Max Pool Size=20;"
         providerName="System.Data.SqlClient" />-->
    <add name="TMD" connectionString="Server=localhost;Database=TMD;Trusted_Connection=Yes;"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <customErrors
       mode="Off"
       defaultRedirect="~/Error/GeneralError.aspx" />

    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="120" defaultUrl="Default.aspx" name="TMD.SistemaIntegral">
        <credentials passwordFormat="Clear">
          <user name ="acardenas" password="123"/>
          <user name="aaldazabal" password="123"/>
          <user name="cperalta" password="123"/>
          <user name="flopez" password="123"/>
          <user name="llacruz" password="123"/>
          <user name="kvega" password="123"/>
        </credentials>
      </forms>
    </authentication>-->

    <sessionState timeout="130"/>

    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>

    <pages>
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.CompareValidator"           mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.CustomValidator"            mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RangeValidator"             mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator"     mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.ValidationSummary"          mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
      </tagMapping>      
    </pages>
    
  </system.web>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="C:\\TestProj\\TestProjlog4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Imagenes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

 
</configuration>
