<?xml version="1.0"?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <namespace name="TMD.CF.LogicaNegocios.Contrato" />
  <namespace name="TMD.CF.LogicaNegocios.Implementacion" />
  <namespace name="TMD.CF.AccesoDatos.Contrato" />
  <namespace name="TMD.CF.AccesoDatos.Implementacion" />

  <container>
    <!--Acceso Datos-->
    <register type="IElementoConfiguracionData" mapTo="ElementoConfiguracionData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="IFaseData" mapTo="FaseData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="IInformeCambioData" mapTo="InformeCambioData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="ILineaBaseData" mapTo="LineaBaseData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="ILineaBaseElementoConfiguracionData" mapTo="LineaBaseElementoConfiguracionData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="IOrdenCambioData" mapTo="IOrdenCambioData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="IProyectoData" mapTo="ProyectoData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="IProyectoFaseData" mapTo="ProyectoFaseData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="ISolicitudCambioData" mapTo="SolicitudCambioData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="IUsuarioData" mapTo="UsuarioData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="IUsuarioProyectoData" mapTo="UsuarioProyectoData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <!--Acceso Datos-->
    <!--Logica Negocios-->
    <register type="IElementoConfiguracionLogica" mapTo="ElementoConfiguracionLogica">
      <constructor>
        <param name="elementoConfData" dependencyType="IElementoConfiguracionData"/>
      </constructor>
    </register>
    <register type="IFaseLogica" mapTo="FaseLogica">
      <constructor>
        <param name="faseData" dependencyType="IFaseData"/>
      </constructor>
    </register>
    <register type="IInformeCambioLogica" mapTo="InformeCambioLogica">
      <constructor>
        <param name="informeCambioData" dependencyType="IInformeCambioData"/>
      </constructor>
    </register>
    <register type="ILineaBaseDetalleLogica" mapTo="LineaBaseDetalleLogica">
      <constructor>
        <param name="lineaBaseEcsData" dependencyType="ILineaBaseElementoConfiguracionData"/>
      </constructor>
    </register>
    <register type="ILineaBaseLogica" mapTo="LineaBaseLogica">
      <constructor>
        <param name="lineaBaseData" dependencyType="ILineaBaseData"/>
        <param name="lineaBaseECSData" dependencyType="ILineaBaseElementoConfiguracionData"/>
        <param name="usuarioProyectoData" dependencyType="IUsuarioProyectoData"/>
        <param name="proyectoFaseData" dependencyType="IProyectoFaseData"/>
      </constructor>
    </register>
    <register type="IOrdenCambioLogica" mapTo="OrdenCambioLogica">
      <constructor>
        <param name="ordenCambioData" dependencyType="IOrdenCambioData"/>
      </constructor>
    </register>
    <register type="IProyectoLogica" mapTo="ProyectoLogica">
      <constructor>
        <param name="proyectoData" dependencyType="IProyectoData"/>
      </constructor>
    </register>
    <register type="IProyectoFaseLogica" mapTo="ProyectoFaseLogica">
      <constructor>
        <param name="proyectoFaseData" dependencyType="IProyectoFaseData"/>
      </constructor>
    </register>
    <register type="ISolicitudCambioLogica" mapTo="SolicitudCambioLogica">
      <constructor>
        <param name="solicitudCambioData" dependencyType="ISolicitudCambioData"/>
      </constructor>
    </register>
    <register type="IUsuarioLogica" mapTo="UsuarioLogica">
      <constructor>
        <param name="usuarioData" dependencyType="IUsuarioData"/>
      </constructor>
    </register>
    <register type="IUsuarioProyectoLogica" mapTo="UsuarioProyectoLogica">
      <constructor>
        <param name="usuarioProyectoData" dependencyType="IUsuarioProyectoData"/>
      </constructor>
    </register>
    <!--Logica Negocios-->
    <!--Presentacion-->
    
    <!--Presentacion-->
  </container>
  
  
</unity>