<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!--Core-->
    <register type="TMD.Core.Caching.ICacheAdapter, TMD.Core"
              mapTo="TMD.Core.Caching.CacheAdapter, TMD.Core"
              name="caching"/>
    <!--Core-->
    <!--Acceso Datos-->
    <register type="TMD.CF.AccesoDatos.Contrato.IElementoConfiguracionData, TMD.CF.AccesoDatos"
              mapTo="TMD.CF.AccesoDatos.Implementacion.ElementoConfiguracionData, TMD.CF.AccesoDatos"
              name="elementoData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="TMD.CF.AccesoDatos.Contrato.IFaseData, TMD.CF.AccesoDatos"
              mapTo="TMD.CF.AccesoDatos.Implementacion.FaseData, TMD.CF.AccesoDatos"
              name="faseData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="TMD.CF.AccesoDatos.Contrato.IInformeCambioData, TMD.CF.AccesoDatos"
              mapTo="TMD.CF.AccesoDatos.Implementacion.InformeCambioData, TMD.CF.AccesoDatos"
              name="informeCambioData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="TMD.CF.AccesoDatos.Contrato.ILineaBaseData, TMD.CF.AccesoDatos"
              mapTo="TMD.CF.AccesoDatos.Implementacion.LineaBaseData, TMD.CF.AccesoDatos"
              name="lineaBaseData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="TMD.CF.AccesoDatos.Contrato.ILineaBaseElementoConfiguracionData, TMD.CF.AccesoDatos"
              mapTo="TMD.CF.AccesoDatos.Implementacion.LineaBaseElementoConfiguracionData, TMD.CF.AccesoDatos"
              name="lineaBaseElementoConfiguracionData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="TMD.CF.AccesoDatos.Contrato.IOrdenCambioData, TMD.CF.AccesoDatos"
              mapTo="TMD.CF.AccesoDatos.Implementacion.OrdenCambioData, TMD.CF.AccesoDatos"
              name="ordenCambioData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="TMD.CF.AccesoDatos.Contrato.IProyectoData, TMD.CF.AccesoDatos"
              mapTo="TMD.CF.AccesoDatos.Implementacion.ProyectoData, TMD.CF.AccesoDatos"
              name="proyectoData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="TMD.CF.AccesoDatos.Contrato.IProyectoFaseData, TMD.CF.AccesoDatos"
              mapTo="TMD.CF.AccesoDatos.Implementacion.ProyectoFaseData, TMD.CF.AccesoDatos"
              name="proyectoFaseData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="TMD.CF.AccesoDatos.Contrato.ISolicitudCambioData, TMD.CF.AccesoDatos"
              mapTo="TMD.CF.AccesoDatos.Implementacion.SolicitudCambioData, TMD.CF.AccesoDatos"
              name="solicitudCambioData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="TMD.CF.AccesoDatos.Contrato.IUsuarioData, TMD.CF.AccesoDatos"
              mapTo="TMD.CF.AccesoDatos.Implementacion.UsuarioData, TMD.CF.AccesoDatos"
              name="usuarioData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <register type="TMD.CF.AccesoDatos.Contrato.IUsuarioProyectoData, TMD.CF.AccesoDatos"
              mapTo="TMD.CF.AccesoDatos.Implementacion.UsuarioProyectoData, TMD.CF.AccesoDatos"
              name="usuarioProyectoData">
      <constructor>
        <param name="connectionString" value="TMD"/>
      </constructor>
    </register>
    <!--Acceso Datos-->
    <!--Logica Negocios-->
    <register type="TMD.CF.LogicaNegocios.Contrato.IElementoConfiguracionLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.ElementoConfiguracionLogica, TMD.CF.LogicaNegocios"
              name="elementoLogica">
      <constructor>
        <param name="elementoConfData" >
          <dependency name="elementoData" />
        </param>
        <param name="cacheAdapter" >
          <dependency name="caching" />
        </param>
      </constructor>
    </register>
    <register type="TMD.CF.LogicaNegocios.Contrato.IFaseLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.FaseLogica, TMD.CF.LogicaNegocios"
              name="faseLogica">
      <constructor>
        <param name="faseData" >
          <dependency name="faseData" />
        </param>
      </constructor>
    </register>
    <register type="TMD.CF.LogicaNegocios.Contrato.IInformeCambioLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.InformeCambioLogica, TMD.CF.LogicaNegocios"
              name="informeCambioLogica">
      <constructor>
        <param name="informeCambioData" >
          <dependency name="informeCambioData" />
        </param>
      </constructor>
    </register>
    
    <register type="TMD.CF.LogicaNegocios.Contrato.IInformeCambioLogica, TMD.CF.LogicaNegocios"
          mapTo="TMD.CF.LogicaNegocios.Implementacion.InformeCambioValidacionLogica, TMD.CF.LogicaNegocios"
          name="informeCambioValidacionLogica">
      <constructor>
        <param name="informeLogicaCambio" >
          <dependency name="informeCambioLogica" />
        </param>
        <param name="informeCambioData" >
          <dependency name="informeCambioData" />
        </param>
        <param name="solicitudCambioData" >
          <dependency name="solicitudCambioData" />
        </param>
      </constructor>
    </register>
    
    <register type="TMD.CF.LogicaNegocios.Contrato.ILineaBaseDetalleLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.LineaBaseDetalleLogica, TMD.CF.LogicaNegocios"
              name="lineaBaseElementoConfiguracionLogica">
      <constructor>
        <param name="lineaBaseEcsData" >
          <dependency name="lineaBaseElementoConfiguracionData" />
        </param>
      </constructor>
    </register>
    <register type="TMD.CF.LogicaNegocios.Contrato.ILineaBaseLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.LineaBaseLogica, TMD.CF.LogicaNegocios"
              name="lineaBaseLogica">
      <constructor>
        <param name="lineaBaseData">
          <dependency name="lineaBaseData" />
        </param>
        <param name="lineaBaseECSData">
          <dependency name="lineaBaseElementoConfiguracionData" />
        </param>
        <param name="usuarioProyectoData">
          <dependency name="usuarioProyectoData" />
        </param>
        <param name="proyectoFaseData">
          <dependency name="proyectoFaseData" />
        </param>
      </constructor>
    </register>
    <register type="TMD.CF.LogicaNegocios.Contrato.ILineaBaseLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.LineaBaseValidacionLogica, TMD.CF.LogicaNegocios"
              name="lineaBaseValidacionLogica">
      <constructor>
        <param name="lineaBaseLogica">
          <dependency name="lineaBaseLogica" />
        </param>
        <param name="lineaBaseData">
          <dependency name="lineaBaseData" />
        </param>
        <param name="lineaBaseECSData">
          <dependency name="lineaBaseElementoConfiguracionData" />
        </param>
        <param name="proyectoFaseData">
          <dependency name="proyectoFaseData" />
        </param>
      </constructor>
    </register>
    <register type="TMD.CF.LogicaNegocios.Contrato.IOrdenCambioLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.OrdenCambioLogica, TMD.CF.LogicaNegocios"
              name="ordenCambioLogica">
      <constructor>
        <param name="ordenCambioData">
          <dependency name="ordenCambioData" />
        </param>
      </constructor>
    </register>
    <register type="TMD.CF.LogicaNegocios.Contrato.IProyectoLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.ProyectoLogica, TMD.CF.LogicaNegocios"
              name="proyectoLogica">
      <constructor>
        <param name="proyectoData">
          <dependency name="proyectoData" />
        </param>
      </constructor>
    </register>
    <register type="TMD.CF.LogicaNegocios.Contrato.IProyectoFaseLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.ProyectoFaseLogica, TMD.CF.LogicaNegocios"
              name="proyectoFaseLogica">
      <constructor>
        <param name="proyectoFaseData" >
          <dependency name="proyectoFaseData"/>
        </param>
      </constructor>
    </register>
    <register type="TMD.CF.LogicaNegocios.Contrato.ISolicitudCambioLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.SolicitudCambioLogica, TMD.CF.LogicaNegocios"
              name="solicitudCambioLogica">
      <constructor>
        <param name="solicitudCambioData">
          <dependency name="solicitudCambioData"/>
        </param>
      </constructor>
    </register>


    <register type="TMD.CF.LogicaNegocios.Contrato.ISolicitudCambioLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.SolicitudCambioValidacionLogica, TMD.CF.LogicaNegocios"
              name="solicitudCambioValidacionLogica">
      <constructor>
        <param name="solicitudCambioLogica">
          <dependency name="solicitudCambioLogica"/>
        </param>
        <param name="solicitudCambioData">
          <dependency name="solicitudCambioData"/>
        </param>
        <param name="lineaBaseData">
          <dependency name="lineaBaseData"/>
        </param>
        <param name="lineaBaseECSData">
          <dependency name="lineaBaseElementoConfiguracionData"/>
        </param>
      </constructor>
    </register>

    <register type="TMD.CF.LogicaNegocios.Contrato.IUsuarioLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.UsuarioLogica, TMD.CF.LogicaNegocios"
              name="usuarioLogica">
      <constructor>
        <param name="usuarioData">
          <dependency name="usuarioData"/>
        </param>
      </constructor>
    </register>
    <register type="TMD.CF.LogicaNegocios.Contrato.IUsuarioProyectoLogica, TMD.CF.LogicaNegocios"
              mapTo="TMD.CF.LogicaNegocios.Implementacion.UsuarioProyectoLogica, TMD.CF.LogicaNegocios"
              name="usuarioProyectoLogica">
      <constructor>
        <param name="usuarioProyectoData">
          <dependency name="usuarioProyectoData"/>
        </param>
      </constructor>
    </register>
    <!--Logica Negocios-->

    <register type="TMD.CF.Site.FachadaNegocio.CF.LineaBaseFachada, TMD.CF.Site">
      <property name="ProyectoFaseLogica" dependencyName="proyectoFaseLogica" />
      <property name="UsuarioLogica" dependencyName="usuarioLogica" />
      <property name="UsuarioProyectoLogica" dependencyName="usuarioProyectoLogica" />
      <property name="ProyectoLogica" dependencyName="proyectoLogica" />
      <property name="LineaBaseLogica" dependencyName="lineaBaseValidacionLogica" />
      <property name="FaseLogica" dependencyName="faseLogica" />
      <property name="ElementoConfiguracionLogica" dependencyName="elementoLogica" />
      <property name="LineaBaseDetalleLogica" dependencyName="lineaBaseElementoConfiguracionLogica" />
    </register>

    <register type="TMD.CF.Site.FachadaNegocio.CF.SeguridadFachada, TMD.CF.Site">
      <property name="UsuarioLogica" dependencyName="usuarioLogica" />
    </register>

    <register type="TMD.CF.Site.FachadaNegocio.CF.SolicitudCambioFachada, TMD.CF.Site">
      <property name="SolicitudCambioLogica" dependencyName="solicitudCambioValidacionLogica" />
    </register>

    <register type="TMD.CF.Site.FachadaNegocio.CF.InformeCambioFachada, TMD.CF.Site">
      <property name="InformeCambioLogica" dependencyName="informeCambioValidacionLogica" />
    </register>

  </container>
</unity>