<?xml version="1.0"?>
<configuration>



  <connectionStrings>
    <add name="TMD" connectionString="Server=OFICINA2\SA;Database=TMD;Trusted_Connection=Yes;"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
<!--
    <customErrors
       mode="On"
       defaultRedirect="~/Error/GeneralError.aspx" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="120" defaultUrl="Default.aspx" name="TMD.SistemaIntegral">
        <credentials passwordFormat="Clear">
          <user name ="a" password="a"/>
        </credentials>
      </forms>
    </authentication>
-->
    <sessionState timeout="130"/>

    <authorization>
      <deny users="?"/>
      <allow users="*" />
    </authorization>

    <pages>
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.CompareValidator"           mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.CustomValidator"            mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RangeValidator"             mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator"     mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.ValidationSummary"          mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
      </tagMapping>      
    </pages>
    
  </system.web>
  

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Imagenes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

 
</configuration>
