/*
Layout.css
Creado 29/09/2012
TMD

*/

.panel-wrapper {
    padding: 10px 2%; 
    width: 96%; 
    border: 1px solid #B6B7BC;
    margin: 10px 0;
}

label {
    padding-right: 10px;
    width: 100px;
    float: left;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}

.page-title {
    font-size: 22px;
    font-weight: bold;
    color: #4B6C9E;
}

.content {
    padding: 0;
    text-align: center;
}

input[type="text"],
input[type="submit"],
input[type="image"] {
    border: 1px solid #496077;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}


input[type="submit"] {
    cursor: pointer;
}

input[type="text"]:focus {
    border: 2px solid #4B6C9E;
}

