/* DEFAULTS
----------------------------------------------------------*/
.divFlotante 
{
/*﻿    padding-left:5px;
    ﻿padding-top:5px;    */
    width:auto;
    height:auto;
    top:25%;
    left:50%;
    margin-left: -200px;
    margin-top: 50px;
    background-color: #FFFFFF;    
    border: 1px solid #000000;  
    position:absolute;
	z-index:100;
    /*background:url() center no-repeat transparent;*/
}

.divFlotante .panel-wrapper {
    border: none;
}

.ModalPopupBG
{
    background-color: #666699;
    filter: alpha(opacity=50);
    opacity: 0.7;
}


.popup_Container {
﻿  background-color:#FFFFFF;
﻿  border:2px solid #000000;
﻿  padding: 0px 0px 0px 0px;
}

.popupConfirmation
{
﻿  width: 300px;
﻿  height: 200px;
}

.popup_Titlebar {
﻿  background: url(/imagenes/titlebar_bg.jpg);
﻿  height: 29px;
}

.popup_Body
{
﻿  padding:15px 15px 15px 15px;
﻿  font-family:Arial;
﻿  font-weight:bold;
﻿  font-size:12px;
﻿  line-height:15pt;
﻿  clear:both;
﻿  padding:20px;
}

.TitlebarLeft 
{
﻿  float:left;
﻿  padding-left:5px;
﻿  padding-top:5px;
﻿  font-family:Arial, Helvetica, sans-serif;
﻿  font-weight:bold;
﻿  font-size:12px;
﻿  color:#FFFFFF;
}

.TitlebarRight 
{﻿  
﻿  background-position:right;
﻿  background-repeat:no-repeat;
﻿  height:15px;
﻿  width:16px;
﻿  float:right;
﻿  margin-right:5px;
﻿  margin-top:5px;
}

.popup_Buttons
{
﻿  margin:10px;
}

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p {
    margin: 7px 0;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: auto;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.fieldEdit
{
   
    background:#CCFF66;
}


/********************** INDEX **********************/
#menu-principal {
    float: left;
    position: relative;
    margin: 10px 1%;
    padding: 2px 2%;
    width: 94%; azimuth
}

#menu-principal ul li { 
    min-width: 150px;
    font-size: 15px;
    font-weight: bold;
}

/***************************************************/


/************* ACTUALIZAR LINEA BASE ***************/

/***************************************************/


/****************** DEFAULT ************************/
#default {
    background: url(/Imagenes/background.jpg) no-repeat center center;
    width: 100%;
    height: 393px;
    float: left;
    position: relative;
    overflow: hidden;
    border: 1px solid #3c3c3c;
}

/*#default #button-container {
    display: table-cell;
    height: 393px;
    text-align: center;
    vertical-align: middle;
    width: 504px;
}

#default #button-container a {
    color: #47C9FA;
    background:  url(/Imagenes/sesion.png) no-repeat 0 -125px #000;
    display: table-cell;
    float: left;
    font-size: 27px;
    font-weight: bold;
    height: 101px;
    left: 103px;
    line-height: 1.1;
    overflow: hidden;
    padding-left: 82px;
    padding-top: 28px;
    position: relative;
    vertical-align: middle;
    width: 202px;
    text-decoration: none;
    border: 7px solid;
}

#default #button-container a:hover {
    background-position: 0 5px;
    color: #fff;
}

#HeadLoginView_HeadLoginStatus {
    background: url(/Imagenes/login.png) no-repeat 0 0;
    width: 42px;
    float: right;
    height: 27px;
    padding: 13px 0 5px 30px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

#HeadLoginView_HeadLoginStatus:hover {
    background-position: 0 -45px;
    color: #47C9FA;
}
*/
.loginDisplay {
    float: right;
}

/***************************************************/


/******************* OVERLAY **********************/
#overlay_container {
    display: none;
    left: 0;
    top:0;
    position: absolute;
    z-index: 9999999;
}

#overlay_shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#overlay_wrapper {
    top: 100px;
    padding: 10px;
    border: 10px solid grey;
    background: #fff;
    float: left;
}

#overlay_inner {
    float: left;
    position: relative;
    width: 100%;
}

#overlay_wrapper #close-overlay {
    background: url("/Imagenes/close-blue.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 35px;
    position: absolute;
    right: -23px;
    top: -21px;
    width: 35px;
}

input[type="submit"].btn-cancelar,
input[type="image"].btn-cancelar {
    background: #d4d7dc;
    color: #85878a;
}


/*************** NUEVOS 17/03/13 **********************/
.content .panel-wrapper {
    text-align: left;
}

#MainContent_pnlBusqueda table,
#MainContent_upnlLista table {
    margin: 0 auto;
}

table th {
    padding: 2px 7px;
}

table td {
    padding: 1px 7px;
}

.content .panel-wrapper label,
.label-field {
    min-width: 100px;
    float: left;
}

#frm-actualizar-sc .label-field {
    min-width: 170px;
}

#frm-actualizar-sc select {
    min-width: 246px;
}