@{
    ViewBag.Title = "Equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Mantenimiento de Equipos</h2>
<fieldset>
<fieldset class="fieldset_left">
<span>Código equipo</span><br />
<input id="txtCodigoEquipo_Consulta" type="text" class="k-textbox" value="" style="width: 100px;" />
</fieldset>
<fieldset  class="fieldset_left">
<span>Nombre equipo</span><br />
<input id="txtNombreEquipo_Consulta" type="text" class="k-textbox" value="" style="width: 150px;" />
</fieldset>
<fieldset class="fieldset_left">
<span>N° Serie</span><br />
<input id="txtSerieEquipo_Consulta" type="text" class="k-textbox" value="" style="width: 100px;" />
</fieldset>
</fieldset>

<fieldset>
<button id="btnNuevoEquipo" class="k-button" onclick="EquiposNuevo('@Url.Action("Nuevo", "Equipo")');"><span class="k-icon k-i-plus"></span> Nuevo Equipo</button>
<button id="btnBuscarEquipos" class="k-button" onclick="EquiposEjecutarBusqueda('@Url.Action("EquiposTodos", "Equipo")');"><span class="k-icon k-i-search"></span> Buscar</button>
</fieldset>
<br />
<div class="k-block"><div class="k-header">Equipos</div>
<div id="gridEquipos"></div>
</div>
<div id="divEquipos" class="j_modal" title="Equipo"></div>
