<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BDMantenEntities" connectionString="metadata=res://*/ModelGM.csdl|res://*/ModelGM.ssdl|res://*/ModelGM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TESIS051\MSQL2008R2;initial catalog=BDManten;user id=sa;password=Pass@word1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>