<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TMD.GM.AccesoDatos.Properties.Settings.ACPBDConnectionString"
            connectionString="Data Source=SVRRAUL;Initial Catalog=ACPBD;User ID=sa;Password=SCwnt@2008"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>