USE [TMD]
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE_NONULL]    Script Date: 03/19/2013 00:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE_NONULL]
@CODIGO_PROYECTO INT,
@CODIGO_LINEABASE INT
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT 
		SOL.CODIGO AS CODIGO_SOLICITUD,
		SOL.NOMBRE AS NOMBRE_SOLICITUD
	FROM 
		dbo.SOLICITUD_CAMBIO AS SOL
	WHERE 
		SOL.CODIGO_LINEA_BASE = @CODIGO_LINEABASE AND SOL.CODIGO_PROYECTO = @CODIGO_PROYECTO AND SOL.ESTADO <> 3 
			AND (
					SELECT COUNT(CODIGO) 
						FROM dbo.INFORME_CAMBIO AS INF
							WHERE INF.CODIGO_SOLICITUD = SOL.CODIGO AND (INF.ESTADO = 1 OR INF.ESTADO = 2)) = 0
		
	SET NOCOUNT OFF;
END