USE [TMD]
GO
IF((SELECT Object_Id('dbo.USP_INFORME_CAMBIO_APROBAR_UPD')) IS NOT NULL)
BEGIN
	DROP PROCEDURE dbo.USP_INFORME_CAMBIO_APROBAR_UPD
END
GO

CREATE  PROCEDURE [dbo].[USP_INFORME_CAMBIO_APROBAR_UPD]
@CODIGO INT,
@ESTADO INT,
@MOTIVO VARCHAR(200)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE 
		[dbo].INFORME_CAMBIO
	SET
		ESTADO = @ESTADO,
		MOTIVO = @MOTIVO
	WHERE
		CODIGO = @CODIGO;

	SET NOCOUNT OFF;

END
