USE [TMD]
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_UPD_ARCHIVO]    Script Date: 03/16/2013 18:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[USP_INFORME_CAMBIO_UPD_ARCHIVO]
@CODIGO INT,
@NOMBRE_ARCHIVO VARCHAR(50),
@EXTENSION CHAR(3),
@RUTA_ARCHIVO VARCHAR(MAX) OUTPUT,
@TRANSACTION_CONTEXT VARBINARY(MAX) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;	
	
	UPDATE 
		dbo.INFORME_CAMBIO
	SET 
		NOMBRE_ARCHIVO = @NOMBRE_ARCHIVO,
		EXTENSION = @EXTENSION,
		DATA = CAST('' AS VARBINARY(MAX))
	WHERE
		CODIGO = @CODIGO;
		
	SELECT 
		@RUTA_ARCHIVO = DATA.PathName(),
		@TRANSACTION_CONTEXT = GET_FILESTREAM_TRANSACTION_CONTEXT()
	FROM 
		dbo.INFORME_CAMBIO
	WHERE 
		CODIGO = @CODIGO;

	SET NOCOUNT OFF;
END
