USE [TMD]
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_SEL_CODIGO]    Script Date: 03/18/2013 17:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_INFORME_CAMBIO_SEL_CODIGO]
@CODIGO_INFORME INT
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		A.CODIGO AS CODIGO_SOLICITUD,
		A.CODIGO_PROYECTO,
		A.CODIGO_LINEA_BASE,
		B.NOMBRE AS NOMBRE_INFORME,
		B.ESTIMACION_COSTO,
		B.ESTIMACION_ESFUERZO,
		B.RECURSOS
	FROM 
		dbo.SOLICITUD_CAMBIO AS A LEFT JOIN dbo.INFORME_CAMBIO AS B
	ON 
		B.CODIGO_SOLICITUD = A.CODIGO 
	WHERE 
		B.CODIGO = @CODIGO_INFORME
		
	SET NOCOUNT OFF;
END


