USE [master]
GO
/****** Object:  Database [TMD]    Script Date: 03/18/2013 18:17:35 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'TMD')
BEGIN
CREATE DATABASE [TMD] ON  PRIMARY 
( NAME = N'TMD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.NERV\MSSQL\DATA\TMD.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [TMD_fg_filestream] CONTAINS FILESTREAM  DEFAULT 
( NAME = N'TMD_filestream', FILENAME = N'C:\SqlFileStream\TMD_2.TMD_FS' )
 LOG ON 
( NAME = N'TMD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.NERV\MSSQL\DATA\TMD_1.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMD]
GO
/****** Object:  ForeignKey [FK_Proyecto_CLIENTE]    Script Date: 03/18/2013 18:17:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Proyecto_CLIENTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] DROP CONSTRAINT [FK_Proyecto_CLIENTE]
GO
/****** Object:  ForeignKey [FK_Proyecto_USUARIO]    Script Date: 03/18/2013 18:17:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Proyecto_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] DROP CONSTRAINT [FK_Proyecto_USUARIO]
GO
/****** Object:  ForeignKey [FK_ELEMENTO_CONFIGURACION_FASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ELEMENTO_CONFIGURACION_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[ELEMENTO_CONFIGURACION]'))
ALTER TABLE [dbo].[ELEMENTO_CONFIGURACION] DROP CONSTRAINT [FK_ELEMENTO_CONFIGURACION_FASE]
GO
/****** Object:  ForeignKey [FK_PROYECTO_FASE_FASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_FASE_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO_FASE]'))
ALTER TABLE [dbo].[PROYECTO_FASE] DROP CONSTRAINT [FK_PROYECTO_FASE_FASE]
GO
/****** Object:  ForeignKey [FK_PROYECTO_FASE_Proyecto1]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_FASE_Proyecto1]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO_FASE]'))
ALTER TABLE [dbo].[PROYECTO_FASE] DROP CONSTRAINT [FK_PROYECTO_FASE_Proyecto1]
GO
/****** Object:  ForeignKey [FK_USUARIO_PROYECTO_Proyecto]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USUARIO_PROYECTO_Proyecto]') AND parent_object_id = OBJECT_ID(N'[dbo].[USUARIO_PROYECTO]'))
ALTER TABLE [dbo].[USUARIO_PROYECTO] DROP CONSTRAINT [FK_USUARIO_PROYECTO_Proyecto]
GO
/****** Object:  ForeignKey [FK_USUARIO_PROYECTO_USUARIO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USUARIO_PROYECTO_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[USUARIO_PROYECTO]'))
ALTER TABLE [dbo].[USUARIO_PROYECTO] DROP CONSTRAINT [FK_USUARIO_PROYECTO_USUARIO]
GO
/****** Object:  ForeignKey [FK_LINEA_BASE_PROYECTO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_PROYECTO_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE]'))
ALTER TABLE [dbo].[LINEA_BASE] DROP CONSTRAINT [FK_LINEA_BASE_PROYECTO_FASE]
GO
/****** Object:  ForeignKey [FK_LINEA_BASE_DETALLE_ELEMENTO_CONFIGURACION]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_DETALLE_ELEMENTO_CONFIGURACION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE_DETALLE]'))
ALTER TABLE [dbo].[LINEA_BASE_DETALLE] DROP CONSTRAINT [FK_LINEA_BASE_DETALLE_ELEMENTO_CONFIGURACION]
GO
/****** Object:  ForeignKey [FK_LINEA_BASE_DETALLE_LINEA_BASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_DETALLE_LINEA_BASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE_DETALLE]'))
ALTER TABLE [dbo].[LINEA_BASE_DETALLE] DROP CONSTRAINT [FK_LINEA_BASE_DETALLE_LINEA_BASE]
GO
/****** Object:  ForeignKey [FK_SOLICITUD_CAMBIO_LINEA_BASE_DETALLE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SOLICITUD_CAMBIO_LINEA_BASE_DETALLE]') AND parent_object_id = OBJECT_ID(N'[dbo].[SOLICITUD_CAMBIO]'))
ALTER TABLE [dbo].[SOLICITUD_CAMBIO] DROP CONSTRAINT [FK_SOLICITUD_CAMBIO_LINEA_BASE_DETALLE]
GO
/****** Object:  ForeignKey [FK_INFORME_CAMBIO_SOLICITUD_CAMBIO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_INFORME_CAMBIO_SOLICITUD_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[INFORME_CAMBIO]'))
ALTER TABLE [dbo].[INFORME_CAMBIO] DROP CONSTRAINT [FK_INFORME_CAMBIO_SOLICITUD_CAMBIO]
GO
/****** Object:  ForeignKey [FK_ORDEN_CAMBIO_INFORME_CAMBIO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDEN_CAMBIO_INFORME_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDEN_CAMBIO]'))
ALTER TABLE [dbo].[ORDEN_CAMBIO] DROP CONSTRAINT [FK_ORDEN_CAMBIO_INFORME_CAMBIO]
GO
/****** Object:  ForeignKey [FK_AUDITORIA_ORDEN_CAMBIO]    Script Date: 03/18/2013 18:17:41 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AUDITORIA_ORDEN_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[AUDITORIA]'))
ALTER TABLE [dbo].[AUDITORIA] DROP CONSTRAINT [FK_AUDITORIA_ORDEN_CAMBIO]
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_INS]    Script Date: 03/18/2013 18:17:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_ORDEN_CAMBIO_INS]
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_SEL_ARCHIVO]    Script Date: 03/18/2013 18:17:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_SEL_ARCHIVO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_ORDEN_CAMBIO_SEL_ARCHIVO]
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_SEL_CODIGO]    Script Date: 03/18/2013 18:17:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_SEL_CODIGO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_ORDEN_CAMBIO_SEL_CODIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_SEL_INFORME]    Script Date: 03/18/2013 18:17:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_SEL_INFORME]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_ORDEN_CAMBIO_SEL_INFORME]
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_SEL_PROYECTO_LINEABASE]    Script Date: 03/18/2013 18:17:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_SEL_PROYECTO_LINEABASE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_ORDEN_CAMBIO_SEL_PROYECTO_LINEABASE]
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_UPD_ARCHIVO]    Script Date: 03/18/2013 18:17:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_UPD_ARCHIVO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_ORDEN_CAMBIO_UPD_ARCHIVO]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 03/18/2013 18:17:41 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AUDITORIA_ORDEN_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[AUDITORIA]'))
ALTER TABLE [dbo].[AUDITORIA] DROP CONSTRAINT [FK_AUDITORIA_ORDEN_CAMBIO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDITORIA]') AND type in (N'U'))
DROP TABLE [dbo].[AUDITORIA]
GO
/****** Object:  StoredProcedure [dbo].[USP_LISTA_INFORME_POR_SOLICITUD]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LISTA_INFORME_POR_SOLICITUD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LISTA_INFORME_POR_SOLICITUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_APROBAR_UPD]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_APROBAR_UPD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_INFORME_CAMBIO_APROBAR_UPD]
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_INS]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_INFORME_CAMBIO_INS]
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_SEL_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_SEL_ARCHIVO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_INFORME_CAMBIO_SEL_ARCHIVO]
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_SEL_CODIGO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_INFORME_CAMBIO_SEL_CODIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE]
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE_NONULL]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE_NONULL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE_NONULL]
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_UPD_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_UPD_ARCHIVO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_INFORME_CAMBIO_UPD_ARCHIVO]
GO
/****** Object:  Table [dbo].[ORDEN_CAMBIO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDEN_CAMBIO_INFORME_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDEN_CAMBIO]'))
ALTER TABLE [dbo].[ORDEN_CAMBIO] DROP CONSTRAINT [FK_ORDEN_CAMBIO_INFORME_CAMBIO]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__ORDEN_CAM__ROWGU__74AE54BC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ORDEN_CAMBIO] DROP CONSTRAINT [DF__ORDEN_CAM__ROWGU__74AE54BC]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORDEN_CAMBIO]') AND type in (N'U'))
DROP TABLE [dbo].[ORDEN_CAMBIO]
GO
/****** Object:  Table [dbo].[INFORME_CAMBIO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_INFORME_CAMBIO_SOLICITUD_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[INFORME_CAMBIO]'))
ALTER TABLE [dbo].[INFORME_CAMBIO] DROP CONSTRAINT [FK_INFORME_CAMBIO_SOLICITUD_CAMBIO]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__INFORME_C__ROWGU__48CFD27E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INFORME_CAMBIO] DROP CONSTRAINT [DF__INFORME_C__ROWGU__48CFD27E]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INFORME_CAMBIO]') AND type in (N'U'))
DROP TABLE [dbo].[INFORME_CAMBIO]
GO
/****** Object:  StoredProcedure [dbo].[USP_LISTA_SOLICITUD_PROYECTO_BASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LISTA_SOLICITUD_PROYECTO_BASE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LISTA_SOLICITUD_PROYECTO_BASE]
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_APROBAR_UPD]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_APROBAR_UPD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_APROBAR_UPD]
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_ESTADO_UPD]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_ESTADO_UPD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_ESTADO_UPD]
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_INS]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_INS]
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_MOTIVO_UPD]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_MOTIVO_UPD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_MOTIVO_UPD]
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_SEL_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_SEL_ARCHIVO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_SEL_ARCHIVO]
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_SEL_CODIGO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_SEL_CODIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_SEL_PROYECTO_LINEABASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_SEL_PROYECTO_LINEABASE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_SEL_PROYECTO_LINEABASE]
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_UPD_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_UPD_ARCHIVO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_UPD_ARCHIVO]
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DET_DEL_CODIGO_LINEA_BASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DET_DEL_CODIGO_LINEA_BASE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LINEA_BASE_DET_DEL_CODIGO_LINEA_BASE]
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DET_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DET_SEL_CODIGO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LINEA_BASE_DET_SEL_CODIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DET_SEL_CODIGO_LINEA_BASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DET_SEL_CODIGO_LINEA_BASE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LINEA_BASE_DET_SEL_CODIGO_LINEA_BASE]
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DETALLE_INS]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DETALLE_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LINEA_BASE_DETALLE_INS]
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DETALLE_SEL_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DETALLE_SEL_ARCHIVO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LINEA_BASE_DETALLE_SEL_ARCHIVO]
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DETALLE_UPD_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DETALLE_UPD_ARCHIVO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LINEA_BASE_DETALLE_UPD_ARCHIVO]
GO
/****** Object:  Table [dbo].[SOLICITUD_CAMBIO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SOLICITUD_CAMBIO_LINEA_BASE_DETALLE]') AND parent_object_id = OBJECT_ID(N'[dbo].[SOLICITUD_CAMBIO]'))
ALTER TABLE [dbo].[SOLICITUD_CAMBIO] DROP CONSTRAINT [FK_SOLICITUD_CAMBIO_LINEA_BASE_DETALLE]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__SOLICITUD__ROWGU__70DDC3D8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SOLICITUD_CAMBIO] DROP CONSTRAINT [DF__SOLICITUD__ROWGU__70DDC3D8]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SOLICITUD_CAMBIO]') AND type in (N'U'))
DROP TABLE [dbo].[SOLICITUD_CAMBIO]
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_INS]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LINEA_BASE_INS]
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_SEL_CODIGO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LINEA_BASE_SEL_CODIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO]
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO_FASE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO_FASE]
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_UPD]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_UPD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LINEA_BASE_UPD]
GO
/****** Object:  StoredProcedure [dbo].[USP_FASE_PROYECTO_SEL_CODIGO_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_FASE_PROYECTO_SEL_CODIGO_PROYECTO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_FASE_PROYECTO_SEL_CODIGO_PROYECTO]
GO
/****** Object:  StoredProcedure [dbo].[USP_LISTA_PROYECTO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LISTA_PROYECTO_FASE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LISTA_PROYECTO_FASE]
GO
/****** Object:  Table [dbo].[LINEA_BASE_DETALLE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_DETALLE_ELEMENTO_CONFIGURACION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE_DETALLE]'))
ALTER TABLE [dbo].[LINEA_BASE_DETALLE] DROP CONSTRAINT [FK_LINEA_BASE_DETALLE_ELEMENTO_CONFIGURACION]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_DETALLE_LINEA_BASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE_DETALLE]'))
ALTER TABLE [dbo].[LINEA_BASE_DETALLE] DROP CONSTRAINT [FK_LINEA_BASE_DETALLE_LINEA_BASE]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__LINEA_BAS__ROWGU__239E4DCF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LINEA_BASE_DETALLE] DROP CONSTRAINT [DF__LINEA_BAS__ROWGU__239E4DCF]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LINEA_BASE_DETALLE]') AND type in (N'U'))
DROP TABLE [dbo].[LINEA_BASE_DETALLE]
GO
/****** Object:  Table [dbo].[LINEA_BASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_PROYECTO_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE]'))
ALTER TABLE [dbo].[LINEA_BASE] DROP CONSTRAINT [FK_LINEA_BASE_PROYECTO_FASE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LINEA_BASE]') AND type in (N'U'))
DROP TABLE [dbo].[LINEA_BASE]
GO
/****** Object:  StoredProcedure [dbo].[USP_PROYECTO_SEL_CODIGO_USUARIO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_PROYECTO_SEL_CODIGO_USUARIO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_PROYECTO_SEL_CODIGO_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_USUARIO_PROYECTO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_USUARIO_PROYECTO]
GO
/****** Object:  StoredProcedure [dbo].[USP_PROYECO_FASE_COD_PROYECTO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_PROYECO_FASE_COD_PROYECTO_FASE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_PROYECO_FASE_COD_PROYECTO_FASE]
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_SEL_CODIGO_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_USUARIO_SEL_CODIGO_PROYECTO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_USUARIO_SEL_CODIGO_PROYECTO]
GO
/****** Object:  Table [dbo].[USUARIO_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USUARIO_PROYECTO_Proyecto]') AND parent_object_id = OBJECT_ID(N'[dbo].[USUARIO_PROYECTO]'))
ALTER TABLE [dbo].[USUARIO_PROYECTO] DROP CONSTRAINT [FK_USUARIO_PROYECTO_Proyecto]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USUARIO_PROYECTO_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[USUARIO_PROYECTO]'))
ALTER TABLE [dbo].[USUARIO_PROYECTO] DROP CONSTRAINT [FK_USUARIO_PROYECTO_USUARIO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIO_PROYECTO]') AND type in (N'U'))
DROP TABLE [dbo].[USUARIO_PROYECTO]
GO
/****** Object:  StoredProcedure [dbo].[USP_PROYECTO_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_PROYECTO_SEL_CODIGO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_PROYECTO_SEL_CODIGO]
GO
/****** Object:  Table [dbo].[PROYECTO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_FASE_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO_FASE]'))
ALTER TABLE [dbo].[PROYECTO_FASE] DROP CONSTRAINT [FK_PROYECTO_FASE_FASE]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_FASE_Proyecto1]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO_FASE]'))
ALTER TABLE [dbo].[PROYECTO_FASE] DROP CONSTRAINT [FK_PROYECTO_FASE_Proyecto1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROYECTO_FASE]') AND type in (N'U'))
DROP TABLE [dbo].[PROYECTO_FASE]
GO
/****** Object:  StoredProcedure [dbo].[USP_LISTA_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LISTA_PROYECTO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_LISTA_PROYECTO]
GO
/****** Object:  StoredProcedure [dbo].[USP_ELEMENTO_CONFI_SEL_CODIGO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ELEMENTO_CONFI_SEL_CODIGO_FASE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_ELEMENTO_CONFI_SEL_CODIGO_FASE]
GO
/****** Object:  StoredProcedure [dbo].[USP_ELEMENTO_CONFIGURACION_INS]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ELEMENTO_CONFIGURACION_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_ELEMENTO_CONFIGURACION_INS]
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_USUARIO_SEL_CODIGO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_USUARIO_SEL_CODIGO]
GO
/****** Object:  Table [dbo].[ELEMENTO_CONFIGURACION]    Script Date: 03/18/2013 18:17:40 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ELEMENTO_CONFIGURACION_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[ELEMENTO_CONFIGURACION]'))
ALTER TABLE [dbo].[ELEMENTO_CONFIGURACION] DROP CONSTRAINT [FK_ELEMENTO_CONFIGURACION_FASE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ELEMENTO_CONFIGURACION]') AND type in (N'U'))
DROP TABLE [dbo].[ELEMENTO_CONFIGURACION]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 03/18/2013 18:17:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Proyecto_CLIENTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] DROP CONSTRAINT [FK_Proyecto_CLIENTE]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Proyecto_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] DROP CONSTRAINT [FK_Proyecto_USUARIO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROYECTO]') AND type in (N'U'))
DROP TABLE [dbo].[PROYECTO]
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_SEL_CODIGO_ROL]    Script Date: 03/18/2013 18:17:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_USUARIO_SEL_CODIGO_ROL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_USUARIO_SEL_CODIGO_ROL]
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_SEL_LOGIN]    Script Date: 03/18/2013 18:17:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_USUARIO_SEL_LOGIN]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_USUARIO_SEL_LOGIN]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 03/18/2013 18:17:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIO]') AND type in (N'U'))
DROP TABLE [dbo].[USUARIO]
GO
/****** Object:  Table [dbo].[PRIORIDAD]    Script Date: 03/18/2013 18:17:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRIORIDAD]') AND type in (N'U'))
DROP TABLE [dbo].[PRIORIDAD]
GO
/****** Object:  Table [dbo].[FASE]    Script Date: 03/18/2013 18:17:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FASE]') AND type in (N'U'))
DROP TABLE [dbo].[FASE]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 03/18/2013 18:17:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLIENTE]') AND type in (N'U'))
DROP TABLE [dbo].[CLIENTE]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 03/18/2013 18:17:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLIENTE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CLIENTE](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[RUC] [char](11) NULL,
	[DIRECCION] [varchar](80) NULL,
 CONSTRAINT [PK__CLIENTE__CC87E12703317E3D] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FASE]    Script Date: 03/18/2013 18:17:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FASE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FASE](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
 CONSTRAINT [PK__FASE__CC87E1277A09056A] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FASE] ON
INSERT [dbo].[FASE] ([CODIGO], [NOMBRE]) VALUES (1, N'REQUERIMIENTO')
INSERT [dbo].[FASE] ([CODIGO], [NOMBRE]) VALUES (2, N'DISENO')
INSERT [dbo].[FASE] ([CODIGO], [NOMBRE]) VALUES (3, N'IMPLEMENTACION')
SET IDENTITY_INSERT [dbo].[FASE] OFF
/****** Object:  Table [dbo].[PRIORIDAD]    Script Date: 03/18/2013 18:17:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRIORIDAD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRIORIDAD](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 03/18/2013 18:17:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USUARIO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[CODIGO_AREA] [int] NULL,
	[ROL] [char](2) NULL,
	[LOGIN] [varchar](10) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON
INSERT [dbo].[USUARIO] ([CODIGO], [NOMBRE], [CODIGO_AREA], [ROL], [LOGIN]) VALUES (1, N'ALEX ALDAZABAL', 1, N'GR', N'aaldazabal')
INSERT [dbo].[USUARIO] ([CODIGO], [NOMBRE], [CODIGO_AREA], [ROL], [LOGIN]) VALUES (2, N'ALONSO CARDENAS', 1, N'GC', N'acardenas')
INSERT [dbo].[USUARIO] ([CODIGO], [NOMBRE], [CODIGO_AREA], [ROL], [LOGIN]) VALUES (3, N'CARLOS PERALTA', 1, N'JP', N'cperalta')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_SEL_LOGIN]    Script Date: 03/18/2013 18:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_USUARIO_SEL_LOGIN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_USUARIO_SEL_LOGIN]
@LOGIN VARCHAR(10)
AS
BEGIN

	SELECT
		U.CODIGO,
		U.NOMBRE,
		U.ROL
	FROM
		dbo.USUARIO AS U
	WHERE
		U.LOGIN = @LOGIN;
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_SEL_CODIGO_ROL]    Script Date: 03/18/2013 18:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_USUARIO_SEL_CODIGO_ROL]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_USUARIO_SEL_CODIGO_ROL]
@ROL CHAR(2)
AS
BEGIN
	SET NOCOUNT ON;	
	
	SELECT
		U.CODIGO,
		U.NOMBRE,
		U.ROL
	FROM
		dbo.USUARIO AS U
	WHERE
		@ROL = '''' OR U.ROL = @ROL;

	SET NOCOUNT OFF;
END

' 
END
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 03/18/2013 18:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROYECTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PROYECTO](
	[CODIGO_PROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[FECHA_INICIO] [date] NULL,
	[FECHA_FIN] [date] NULL,
	[CODIGO_JEFE_PROYECTO] [int] NULL,
	[CODIGO_CLIENTE] [int] NULL,
	[ESTADO] [char](1) NULL,
 CONSTRAINT [PK__PROYECTO__CC87E1271DE57479] PRIMARY KEY CLUSTERED 
(
	[CODIGO_PROYECTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PROYECTO] ON
INSERT [dbo].[PROYECTO] ([CODIGO_PROYECTO], [NOMBRE], [DESCRIPCION], [FECHA_INICIO], [FECHA_FIN], [CODIGO_JEFE_PROYECTO], [CODIGO_CLIENTE], [ESTADO]) VALUES (1, N'SIGES', N'GESTION DE ESTACION DE SERVICIO', CAST(0x75360B00 AS Date), CAST(0x10370B00 AS Date), 3, NULL, NULL)
INSERT [dbo].[PROYECTO] ([CODIGO_PROYECTO], [NOMBRE], [DESCRIPCION], [FECHA_INICIO], [FECHA_FIN], [CODIGO_JEFE_PROYECTO], [CODIGO_CLIENTE], [ESTADO]) VALUES (2, N'TMD', N'GESTION DE CONFIGURACION', CAST(0x94360B00 AS Date), CAST(0x16370B00 AS Date), 3, NULL, NULL)
INSERT [dbo].[PROYECTO] ([CODIGO_PROYECTO], [NOMBRE], [DESCRIPCION], [FECHA_INICIO], [FECHA_FIN], [CODIGO_JEFE_PROYECTO], [CODIGO_CLIENTE], [ESTADO]) VALUES (3, N'STYR', N'GESTION TRANSACCIONAL TR', CAST(0xAE360B00 AS Date), CAST(0x3E370B00 AS Date), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PROYECTO] OFF
/****** Object:  Table [dbo].[ELEMENTO_CONFIGURACION]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ELEMENTO_CONFIGURACION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ELEMENTO_CONFIGURACION](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[TIPO] [varchar](2) NULL,
	[CODIGO_FASE] [int] NOT NULL,
 CONSTRAINT [PK__ELEMENTO__CC87E12707020F21] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ELEMENTO_CONFIGURACION] ON
INSERT [dbo].[ELEMENTO_CONFIGURACION] ([CODIGO], [NOMBRE], [DESCRIPCION], [TIPO], [CODIGO_FASE]) VALUES (1, N'RQACT', N'Acta de Reunion de Requeriminto', N'D', 1)
INSERT [dbo].[ELEMENTO_CONFIGURACION] ([CODIGO], [NOMBRE], [DESCRIPCION], [TIPO], [CODIGO_FASE]) VALUES (2, N'RQDRQ', N'Especificacion de Requerimiento', N'D', 1)
INSERT [dbo].[ELEMENTO_CONFIGURACION] ([CODIGO], [NOMBRE], [DESCRIPCION], [TIPO], [CODIGO_FASE]) VALUES (3, N'RQMOD', N'Modelo de Caso de Uso', N'D', 1)
SET IDENTITY_INSERT [dbo].[ELEMENTO_CONFIGURACION] OFF
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_USUARIO_SEL_CODIGO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_USUARIO_SEL_CODIGO]
@LOGIN VARCHAR(10)
AS
BEGIN

	SELECT
		U.CODIGO,
		U.NOMBRE,
		U.ROL
	FROM
		dbo.USUARIO AS U
	WHERE
		U.LOGIN = @LOGIN;
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ELEMENTO_CONFIGURACION_INS]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ELEMENTO_CONFIGURACION_INS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_ELEMENTO_CONFIGURACION_INS]
@CODIGO VARCHAR(10),
@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(100),
@TIPO VARCHAR(2),
@CODIGO_FASE VARCHAR(4)
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO [dbo].[ELEMENTO_CONFIGURACION](
		CODIGO,
		NOMBRE, 
		DESCRIPCION, 
		TIPO, 
		CODIGO_FASE)
	VALUES
		(@CODIGO,
		@NOMBRE, 
		@DESCRIPCION, 
		@TIPO, 
		@CODIGO_FASE);

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ELEMENTO_CONFI_SEL_CODIGO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ELEMENTO_CONFI_SEL_CODIGO_FASE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_ELEMENTO_CONFI_SEL_CODIGO_FASE]
@CODIGO_FASE INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT
		CODIGO, 
		NOMBRE, 
		DESCRIPCION, 
		TIPO, 
		CODIGO_FASE
	FROM
		dbo.ELEMENTO_CONFIGURACION
	WHERE
		CODIGO_FASE = @CODIGO_FASE;

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LISTA_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LISTA_PROYECTO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_LISTA_PROYECTO]
@CODIGO VARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT US.[CODIGO], US.[NOMBRE], PR.[NOMBRE] AS NOM_PRO, PR.[FECHA_INICIO],
	PR.[FECHA_FIN]
	FROM [dbo].[PROYECTO] AS PR INNER JOIN [dbo].[USUARIO] AS US ON
	US.[CODIGO] = PR.[CODIGO_JEFE_PROYECTO]
	WHERE US.[CODIGO] = @CODIGO;

	SET NOCOUNT OFF;
END

IF((SELECT Object_Id(''dbo.USP_LISTA_PROYECTO_FASE'')) IS NOT NULL)
BEGIN
	DROP PROCEDURE dbo.USP_LISTA_PROYECTO_FASE
END
' 
END
GO
/****** Object:  Table [dbo].[PROYECTO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROYECTO_FASE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PROYECTO_FASE](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_PROYECTO] [int] NULL,
	[CODIGO_FASE] [int] NULL,
	[FECHA_INICIO] [date] NULL,
	[FECHA_FIN] [date] NULL,
	[CODIGO_RESPONSABLE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[PROYECTO_FASE] ON
INSERT [dbo].[PROYECTO_FASE] ([CODIGO], [CODIGO_PROYECTO], [CODIGO_FASE], [FECHA_INICIO], [FECHA_FIN], [CODIGO_RESPONSABLE]) VALUES (1, 1, 1, CAST(0x75360B00 AS Date), CAST(0x88360B00 AS Date), NULL)
INSERT [dbo].[PROYECTO_FASE] ([CODIGO], [CODIGO_PROYECTO], [CODIGO_FASE], [FECHA_INICIO], [FECHA_FIN], [CODIGO_RESPONSABLE]) VALUES (2, 1, 2, CAST(0x89360B00 AS Date), CAST(0x92360B00 AS Date), NULL)
INSERT [dbo].[PROYECTO_FASE] ([CODIGO], [CODIGO_PROYECTO], [CODIGO_FASE], [FECHA_INICIO], [FECHA_FIN], [CODIGO_RESPONSABLE]) VALUES (3, 1, 3, CAST(0x26350B00 AS Date), CAST(0x34350B00 AS Date), NULL)
SET IDENTITY_INSERT [dbo].[PROYECTO_FASE] OFF
/****** Object:  StoredProcedure [dbo].[USP_PROYECTO_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_PROYECTO_SEL_CODIGO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_PROYECTO_SEL_CODIGO]
@CODIGO INT
AS
BEGIN
	SET NOCOUNT ON;	
	
	SELECT 
		PR.CODIGO_PROYECTO,
		PR.NOMBRE,
		PR.DESCRIPCION, 
		PR.[FECHA_INICIO],
		PR.[FECHA_FIN],
		PR.CODIGO_JEFE_PROYECTO,
		PR.ESTADO
	FROM 
		[dbo].[PROYECTO] AS PR 
	WHERE 
		PR.CODIGO_PROYECTO = @CODIGO;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  Table [dbo].[USUARIO_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIO_PROYECTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USUARIO_PROYECTO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_USUARIO] [int] NULL,
	[CODIGO_PROYECTO] [int] NULL,
	[TIPO_ACCESO] [char](10) NULL,
 CONSTRAINT [PK__USUARIO___CC87E1272B3F6F97] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO_PROYECTO] ON
INSERT [dbo].[USUARIO_PROYECTO] ([CODIGO], [CODIGO_USUARIO], [CODIGO_PROYECTO], [TIPO_ACCESO]) VALUES (1, 1, 1, N'FULL      ')
INSERT [dbo].[USUARIO_PROYECTO] ([CODIGO], [CODIGO_USUARIO], [CODIGO_PROYECTO], [TIPO_ACCESO]) VALUES (2, 2, 1, N'FULL      ')
INSERT [dbo].[USUARIO_PROYECTO] ([CODIGO], [CODIGO_USUARIO], [CODIGO_PROYECTO], [TIPO_ACCESO]) VALUES (3, 3, 1, N'FULL      ')
SET IDENTITY_INSERT [dbo].[USUARIO_PROYECTO] OFF
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_SEL_CODIGO_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_USUARIO_SEL_CODIGO_PROYECTO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_USUARIO_SEL_CODIGO_PROYECTO]
@CODIGO_PROYECTO INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT
		U.CODIGO, 
		U.NOMBRE, 
		U.CODIGO_AREA
	FROM
		dbo.USUARIO AS U
		INNER JOIN dbo.USUARIO_PROYECTO AS UP
		ON U.CODIGO = UP.CODIGO_USUARIO
	WHERE
		UP.CODIGO_PROYECTO = @CODIGO_PROYECTO;

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PROYECO_FASE_COD_PROYECTO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_PROYECO_FASE_COD_PROYECTO_FASE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_PROYECO_FASE_COD_PROYECTO_FASE]  
@CODIGO_PROYECTO INT,  
@CODIGO_FASE INT  
AS  
BEGIN  
  
 SET NOCOUNT ON;  
  
 SELECT  
  PF.CODIGO,   
  PF.CODIGO_PROYECTO,   
  PF.CODIGO_FASE,   
  PF.FECHA_INICIO,   
  PF.FECHA_FIN,
  P.FECHA_FIN AS FECHA_FIN_PROYECTO
 FROM  
  dbo.PROYECTO_FASE  AS PF
  INNER JOIN dbo.PROYECTO AS P
  ON PF.CODIGO_PROYECTO = P.CODIGO_PROYECTO
 WHERE  
  PF.CODIGO_PROYECTO = @CODIGO_PROYECTO  
  AND PF.CODIGO_FASE = @CODIGO_FASE;  
  
 SET NOCOUNT OFF;  
  
END  
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_USUARIO_PROYECTO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_USUARIO_PROYECTO]
@CODIGO_USUARIO INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT
		UP.CODIGO,
		UP.TIPO_ACCESO
	FROM
		dbo.USUARIO_PROYECTO AS UP
	WHERE
		UP.CODIGO_USUARIO = @CODIGO_USUARIO;

	SET NOCOUNT OFF;

END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PROYECTO_SEL_CODIGO_USUARIO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_PROYECTO_SEL_CODIGO_USUARIO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_PROYECTO_SEL_CODIGO_USUARIO]
@CODIGO_USUARIO INT
AS
BEGIN
	SET NOCOUNT ON;	
	
	SELECT 
		PR.CODIGO_PROYECTO,
		PR.NOMBRE,
		PR.DESCRIPCION, 
		PR.[FECHA_INICIO],
		PR.[FECHA_FIN],
		PR.CODIGO_JEFE_PROYECTO,
		PR.ESTADO
	FROM 
		[dbo].[PROYECTO] AS PR 
		INNER JOIN [dbo].[USUARIO_PROYECTO] AS US ON
		US.[CODIGO_PROYECTO] = PR.[CODIGO_PROYECTO]
	WHERE 
		US.[CODIGO_USUARIO] = @CODIGO_USUARIO;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  Table [dbo].[LINEA_BASE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LINEA_BASE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LINEA_BASE](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_PROYECTO_FASE] [int] NULL,
	[NOMBRE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[FECHA_CREACION] [date] NULL,
	[ESTADO] [varchar](2) NULL,
	[FECHA_LIBERACION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LINEA_BASE] ON
INSERT [dbo].[LINEA_BASE] ([CODIGO], [CODIGO_PROYECTO_FASE], [NOMBRE], [DESCRIPCION], [FECHA_CREACION], [ESTADO], [FECHA_LIBERACION]) VALUES (1, 1, N'GESTION DE REQUERIMIENTO', N'LEVANTAMIENTO DE REQ. FUNCIONAL', CAST(0x75360B00 AS Date), N'1', CAST(0x88360B00 AS Date))
INSERT [dbo].[LINEA_BASE] ([CODIGO], [CODIGO_PROYECTO_FASE], [NOMBRE], [DESCRIPCION], [FECHA_CREACION], [ESTADO], [FECHA_LIBERACION]) VALUES (2, 10, N'GESTION DE REQUERIMIENTO', N'LEVANTAMIENTO DE REQ. FUNCIONAL', CAST(0x94360B00 AS Date), N'1', CAST(0xA1360B00 AS Date))
INSERT [dbo].[LINEA_BASE] ([CODIGO], [CODIGO_PROYECTO_FASE], [NOMBRE], [DESCRIPCION], [FECHA_CREACION], [ESTADO], [FECHA_LIBERACION]) VALUES (3, 19, N'GESTION DE REQUERIMIENTO', N'INFORMES DE MOELADO', CAST(0xAE360B00 AS Date), N'1', CAST(0xB9360B00 AS Date))
SET IDENTITY_INSERT [dbo].[LINEA_BASE] OFF
/****** Object:  Table [dbo].[LINEA_BASE_DETALLE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LINEA_BASE_DETALLE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LINEA_BASE_DETALLE](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_ECS] [int] NULL,
	[CODIGO_RESPONSABLE] [int] NULL,
	[FECHA_ENTREGA] [date] NULL,
	[VERSION_MENOR] [int] NULL,
	[VERSION_MAYOR] [int] NULL,
	[CODIGO_LINEA_BASE] [int] NOT NULL,
	[ROWGUID] [uniqueidentifier] ROWGUIDCOL  NOT NULL DEFAULT (newid()),
	[DATA] [varbinary](max) FILESTREAM  NULL,
	[NOMBRE] [varchar](50) NULL,
	[EXTENSION] [char](3) NULL,
 CONSTRAINT [PK_LINEA_BASE_DETALLE] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY] FILESTREAM_ON [TMD_fg_filestream],
UNIQUE NONCLUSTERED 
(
	[ROWGUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] FILESTREAM_ON [TMD_fg_filestream]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LINEA_BASE_DETALLE] ON
INSERT [dbo].[LINEA_BASE_DETALLE] ([CODIGO], [CODIGO_ECS], [CODIGO_RESPONSABLE], [FECHA_ENTREGA], [VERSION_MENOR], [VERSION_MAYOR], [CODIGO_LINEA_BASE], [ROWGUID], [DATA], [NOMBRE], [EXTENSION]) VALUES (1, 1, 1, CAST(0x7E360B00 AS Date), 0, 1, 1, N'70a7aeab-ea0d-4a15-b2e9-85b998e1cbc9', NULL, N'DOCUMENTO', N'DOC')
INSERT [dbo].[LINEA_BASE_DETALLE] ([CODIGO], [CODIGO_ECS], [CODIGO_RESPONSABLE], [FECHA_ENTREGA], [VERSION_MENOR], [VERSION_MAYOR], [CODIGO_LINEA_BASE], [ROWGUID], [DATA], [NOMBRE], [EXTENSION]) VALUES (2, 2, 1, CAST(0x7F360B00 AS Date), 1, 1, 1, N'f2f99c22-9a28-4995-92b4-40abfbf6fd61', NULL, N'DOCUMENTO', N'DOC')
INSERT [dbo].[LINEA_BASE_DETALLE] ([CODIGO], [CODIGO_ECS], [CODIGO_RESPONSABLE], [FECHA_ENTREGA], [VERSION_MENOR], [VERSION_MAYOR], [CODIGO_LINEA_BASE], [ROWGUID], [DATA], [NOMBRE], [EXTENSION]) VALUES (3, 3, 2, CAST(0x7F360B00 AS Date), 0, 1, 1, N'733bfcec-a98f-440e-9e81-779ae1b67bd1', NULL, N'DOCUMENTO', N'PDF')
SET IDENTITY_INSERT [dbo].[LINEA_BASE_DETALLE] OFF
/****** Object:  StoredProcedure [dbo].[USP_LISTA_PROYECTO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LISTA_PROYECTO_FASE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_LISTA_PROYECTO_FASE]
@CODIGO_PROYECTO VARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT  
		FA.[NOMBRE] AS NOM_FASE, 
		LB.[NOMBRE] AS NOM_LIN_BAS
	FROM ([dbo].[PROYECTO_FASE] AS PF INNER JOIN [dbo].[FASE] AS FA ON
	FA.[CODIGO] = PF.[CODIGO_FASE]) INNER JOIN [dbo].[LINEA_BASE] AS LB ON
	PF.[CODIGO] = LB.[CODIGO_PROYECTO_FASE]
	WHERE [CODIGO_PROYECTO] = @CODIGO_PROYECTO;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_FASE_PROYECTO_SEL_CODIGO_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_FASE_PROYECTO_SEL_CODIGO_PROYECTO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_FASE_PROYECTO_SEL_CODIGO_PROYECTO]
@CODIGO_PROYECTO INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT
		F.CODIGO,
		F.NOMBRE,
		LB.CODIGO AS CODIGO_LINEA_BASE
	FROM
		[dbo].[PROYECTO_FASE] AS PF
		INNER JOIN [dbo].[FASE] AS F
		ON PF.CODIGO_FASE = F.CODIGO
		LEFT JOIN dbo.LINEA_BASE AS LB
		ON PF.CODIGO = LB.CODIGO_PROYECTO_FASE
	WHERE
		PF.CODIGO_PROYECTO = @CODIGO_PROYECTO;

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_UPD]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_UPD]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_LINEA_BASE_UPD]
@CODIGO INT,
@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(100)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE 
		[dbo].[LINEA_BASE]
	SET
		NOMBRE = @NOMBRE,
		DESCRIPCION = @DESCRIPCION
	WHERE
	CODIGO = @CODIGO;

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO_FASE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO_FASE]
@CODIGO_PROYECTO INT,
@CODIGO_FASE INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT
		LB.CODIGO,
		LB.CODIGO_PROYECTO_FASE,
		LB.NOMBRE,
		F.NOMBRE AS NOMBRE_FASE,
		F.CODIGO AS CODIGO_FASE,
		PF.FECHA_INICIO,
		PF.FECHA_FIN,
		LB.DESCRIPCION,
		LB.ESTADO,
		LB.FECHA_LIBERACION
	FROM
		dbo.LINEA_BASE AS LB
		INNER JOIN dbo.PROYECTO_FASE AS PF
		ON LB.CODIGO_PROYECTO_FASE = PF.CODIGO
		INNER JOIN dbo.FASE AS F
		ON PF.CODIGO_FASE = F.CODIGO
	WHERE
		PF.CODIGO_PROYECTO = @CODIGO_PROYECTO
		AND PF.CODIGO_FASE = @CODIGO_FASE;

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_LINEA_BASE_SEL_CODIGO_PROYECTO]
@CODIGO_PROYECTO INT,
@CODIGO_USUARIO INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT DISTINCT
		LB.CODIGO,
		LB.CODIGO_PROYECTO_FASE,
		LB.NOMBRE,
		F.NOMBRE AS NOMBRE_FASE,
		F.CODIGO AS CODIGO_FASE,
		PF.FECHA_INICIO,
		PF.FECHA_FIN,
		LB.DESCRIPCION,
		LB.ESTADO,
		LB.FECHA_LIBERACION
	FROM
		dbo.LINEA_BASE AS LB
		INNER JOIN dbo.PROYECTO_FASE AS PF
		ON LB.CODIGO_PROYECTO_FASE = PF.CODIGO
		INNER JOIN dbo.FASE AS F
		ON PF.CODIGO_FASE = F.CODIGO
		INNER JOIN dbo.USUARIO_PROYECTO AS UP
		ON UP.CODIGO_PROYECTO = PF.CODIGO_PROYECTO
	WHERE
		PF.CODIGO_PROYECTO = @CODIGO_PROYECTO
		AND (@CODIGO_USUARIO = 0 OR UP.CODIGO_USUARIO = @CODIGO_USUARIO);

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_SEL_CODIGO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_LINEA_BASE_SEL_CODIGO]
@CODIGO INT
AS  
BEGIN  
  
 SET NOCOUNT ON;  
  
 SELECT  
  LB.CODIGO,  
  LB.CODIGO_PROYECTO_FASE,  
  LB.NOMBRE,  
  F.NOMBRE AS NOMBRE_FASE,  
  F.CODIGO AS CODIGO_FASE,  
  PF.FECHA_INICIO,  
  PF.FECHA_FIN,  
  LB.DESCRIPCION,  
  LB.ESTADO,  
  LB.FECHA_LIBERACION  
 FROM  
  dbo.LINEA_BASE AS LB  
  INNER JOIN dbo.PROYECTO_FASE AS PF  
  ON LB.CODIGO_PROYECTO_FASE = PF.CODIGO  
  INNER JOIN dbo.FASE AS F  
  ON PF.CODIGO_FASE = F.CODIGO  
 WHERE  
  LB.CODIGO = @CODIGO; 
  
 SET NOCOUNT OFF;  
  
END  
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_INS]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_INS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_LINEA_BASE_INS]
@CODIGO INT OUTPUT,
@CODIGO_PROYECTO_FASE INT,
@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(100)
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO [dbo].[LINEA_BASE](
		CODIGO_PROYECTO_FASE, 
		NOMBRE, 
		DESCRIPCION, 
		FECHA_CREACION, 
		ESTADO)
	VALUES
		(@CODIGO_PROYECTO_FASE, 
		@NOMBRE, 
		@DESCRIPCION, 
		GETDATE(), 
		''1'');
		
	SET @CODIGO = SCOPE_IDENTITY();

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  Table [dbo].[SOLICITUD_CAMBIO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SOLICITUD_CAMBIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SOLICITUD_CAMBIO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[CODIGO_PROYECTO] [int] NULL,
	[CODIGO_LINEA_BASE] [int] NULL,
	[CODIGO_USUARIO] [int] NULL,
	[FECHA_REGISTRO] [date] NULL,
	[FECHA_APROBACION] [date] NULL,
	[ESTADO] [varchar](2) NULL,
	[CODIGO_ECS] [int] NULL,
	[PRIORIDAD] [int] NULL,
	[MOTIVO] [varchar](200) NULL,
	[ROWGUID] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF__SOLICITUD__ROWGU__70DDC3D8]  DEFAULT (newid()),
	[NOMBRE_ARCHIVO] [varchar](50) NULL,
	[EXTENSION] [char](3) NULL,
	[DATA] [varbinary](max) FILESTREAM  NULL,
 CONSTRAINT [PK__SOLICITU__CC87E127182C9B23] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY] FILESTREAM_ON [TMD_fg_filestream],
 CONSTRAINT [UQ__SOLICITU__D7A3AA5572C60C4A] UNIQUE NONCLUSTERED 
(
	[ROWGUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] FILESTREAM_ON [TMD_fg_filestream]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SOLICITUD_CAMBIO] ON
INSERT [dbo].[SOLICITUD_CAMBIO] ([CODIGO], [NOMBRE], [CODIGO_PROYECTO], [CODIGO_LINEA_BASE], [CODIGO_USUARIO], [FECHA_REGISTRO], [FECHA_APROBACION], [ESTADO], [CODIGO_ECS], [PRIORIDAD], [MOTIVO], [ROWGUID], [NOMBRE_ARCHIVO], [EXTENSION], [DATA]) VALUES (1, N'Solicitud 1', 4, 4, 5, CAST(0xDE360B00 AS Date), CAST(0xE0360B00 AS Date), N'2', 22, 2, N'Aprobado', N'f8dc6e65-742f-436e-9277-11980f4c7e39', N'Solicitud1.rtf', N'rtf', 0x7B5C727466317D)
INSERT [dbo].[SOLICITUD_CAMBIO] ([CODIGO], [NOMBRE], [CODIGO_PROYECTO], [CODIGO_LINEA_BASE], [CODIGO_USUARIO], [FECHA_REGISTRO], [FECHA_APROBACION], [ESTADO], [CODIGO_ECS], [PRIORIDAD], [MOTIVO], [ROWGUID], [NOMBRE_ARCHIVO], [EXTENSION], [DATA]) VALUES (2, N'Solicitud 2', 4, 4, 5, CAST(0xDF360B00 AS Date), CAST(0xE0360B00 AS Date), N'3', 22, 2, N'Rechazo', N'453ef2b9-3c6e-4d4a-80a9-c5284877e88d', N'Solicitud2.rtf', N'rtf', 0x7B5C727466317D)
INSERT [dbo].[SOLICITUD_CAMBIO] ([CODIGO], [NOMBRE], [CODIGO_PROYECTO], [CODIGO_LINEA_BASE], [CODIGO_USUARIO], [FECHA_REGISTRO], [FECHA_APROBACION], [ESTADO], [CODIGO_ECS], [PRIORIDAD], [MOTIVO], [ROWGUID], [NOMBRE_ARCHIVO], [EXTENSION], [DATA]) VALUES (3, N'Solicitud 3', 2, 13, 5, CAST(0xDF360B00 AS Date), NULL, N'1', 75, 3, NULL, N'95e45c3f-f248-4996-9d59-0213502db091', N'Solicitud2.rtf', N'rtf', 0x7B5C727466317D)
SET IDENTITY_INSERT [dbo].[SOLICITUD_CAMBIO] OFF
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DETALLE_UPD_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DETALLE_UPD_ARCHIVO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_LINEA_BASE_DETALLE_UPD_ARCHIVO]
@CODIGO INT,
@NOMBRE VARCHAR(50),
@EXTENSION CHAR(3),
@RUTA_ARCHIVO VARCHAR(MAX) OUTPUT,
@TRANSACTION_CONTEXT VARBINARY(MAX) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;	
	
	UPDATE 
		dbo.LINEA_BASE_DETALLE
	SET 
		NOMBRE = @NOMBRE,
		EXTENSION = @EXTENSION,
		DATA = CAST('''' AS VARBINARY(MAX))
	WHERE
		CODIGO = @CODIGO;
		
	SELECT 
		@RUTA_ARCHIVO = DATA.PathName(),
		@TRANSACTION_CONTEXT = GET_FILESTREAM_TRANSACTION_CONTEXT()
	FROM 
		dbo.LINEA_BASE_DETALLE
	WHERE 
		CODIGO = @CODIGO;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DETALLE_SEL_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DETALLE_SEL_ARCHIVO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_LINEA_BASE_DETALLE_SEL_ARCHIVO]
@CODIGO INT
AS
BEGIN
	SET NOCOUNT ON;	
	
	SELECT
		NOMBRE,
		DATA.PathName() AS RUTA_ARCHIVO,
		GET_FILESTREAM_TRANSACTION_CONTEXT() AS TRANSACTION_CONTEXT
	FROM 
		dbo.LINEA_BASE_DETALLE
	WHERE 
		CODIGO = @CODIGO;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DETALLE_INS]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DETALLE_INS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_LINEA_BASE_DETALLE_INS]
@CODIGO INT OUTPUT,
@CODIGO_ECS INT,
@CODIGO_RESPONSABLE INT,
@VERSION_MENOR INT,
@VERSION_MAYOR INT,
@CODIGO_LINEA_BASE INT
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO dbo.LINEA_BASE_DETALLE(
			CODIGO_ECS, 
			CODIGO_RESPONSABLE,
			VERSION_MENOR, 
			VERSION_MAYOR, 
			CODIGO_LINEA_BASE)
	VALUES(
		@CODIGO_ECS, 
		@CODIGO_RESPONSABLE,
		@VERSION_MENOR, 
		@VERSION_MAYOR, 
		@CODIGO_LINEA_BASE);
		
	SET @CODIGO = SCOPE_IDENTITY();

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DET_SEL_CODIGO_LINEA_BASE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DET_SEL_CODIGO_LINEA_BASE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_LINEA_BASE_DET_SEL_CODIGO_LINEA_BASE] 
@CODIGO_LINEA_BASE INT,  
@CODIGO_USUARIO INT  
AS  
BEGIN  
  
 SET NOCOUNT ON;  
  
 SELECT DISTINCT  
  LBD.CODIGO,   
  LBD.CODIGO_ECS,   
  EC.DESCRIPCION AS ECS_NOMBRE,  
  EC.TIPO,  
  LBD.CODIGO_RESPONSABLE,   
  LBD.FECHA_ENTREGA,   
  LBD.VERSION_MENOR,   
  LBD.VERSION_MAYOR,   
  LBD.CODIGO_LINEA_BASE,  
  LBD.NOMBRE,  
  LBD.EXTENSION ,
  PF.FECHA_FIN 
 FROM  
  dbo.LINEA_BASE_DETALLE AS LBD  
  INNER JOIN dbo.ELEMENTO_CONFIGURACION AS EC  
  ON LBD.CODIGO_ECS = EC.CODIGO  
  INNER JOIN dbo.LINEA_BASE AS LB  
  ON LB.CODIGO = LBD.CODIGO_LINEA_BASE  
  INNER JOIN dbo.PROYECTO_FASE AS PF  
  ON PF.CODIGO = LB.CODIGO_PROYECTO_FASE  
  INNER JOIN dbo.USUARIO_PROYECTO AS UP  
  ON UP.CODIGO_PROYECTO = PF.CODIGO_PROYECTO  
 WHERE  
  LBD.CODIGO_LINEA_BASE = @CODIGO_LINEA_BASE  
  AND (@CODIGO_USUARIO = 0 OR LBD.CODIGO_RESPONSABLE = @CODIGO_USUARIO);   
  
 SET NOCOUNT OFF;  
  
END  
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DET_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DET_SEL_CODIGO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_LINEA_BASE_DET_SEL_CODIGO]
@CODIGO INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT
		LBD.CODIGO, 
		LBD.CODIGO_ECS, 
		EC.NOMBRE AS ECS_NOMBRE,
		EC.TIPO,
		LBD.CODIGO_RESPONSABLE, 
		LBD.FECHA_ENTREGA, 
		LBD.VERSION_MENOR, 
		LBD.VERSION_MAYOR, 
		LBD.CODIGO_LINEA_BASE,
		LBD.NOMBRE,
		LBD.EXTENSION,
		PF.FECHA_FIN
	FROM
		dbo.LINEA_BASE_DETALLE AS LBD
		INNER JOIN dbo.LINEA_BASE AS LB
		ON LBD.CODIGO_LINEA_BASE = LB.CODIGO
		INNER JOIN dbo.PROYECTO_FASE AS PF
		ON LB.CODIGO_PROYECTO_FASE = PF.CODIGO
		INNER JOIN dbo.ELEMENTO_CONFIGURACION AS EC
		ON LBD.CODIGO_ECS = EC.CODIGO
	WHERE
		LBD.CODIGO = @CODIGO;
		

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LINEA_BASE_DET_DEL_CODIGO_LINEA_BASE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LINEA_BASE_DET_DEL_CODIGO_LINEA_BASE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_LINEA_BASE_DET_DEL_CODIGO_LINEA_BASE]
@CODIGO_LINEA_BASE INT
AS
BEGIN

	SET NOCOUNT ON;

	DELETE FROM
		dbo.LINEA_BASE_DETALLE
	WHERE
		CODIGO_LINEA_BASE = @CODIGO_LINEA_BASE;

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_UPD_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_UPD_ARCHIVO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE  PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_UPD_ARCHIVO]
@CODIGO INT,
@NOMBRE_ARCHIVO VARCHAR(50),
@EXTENSION CHAR(3),
@RUTA_ARCHIVO VARCHAR(MAX) OUTPUT,
@TRANSACTION_CONTEXT VARBINARY(MAX) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;	
	
	UPDATE 
		dbo.SOLICITUD_CAMBIO
	SET 
		NOMBRE_ARCHIVO = @NOMBRE_ARCHIVO,
		EXTENSION = @EXTENSION,
		DATA = CAST('''' AS VARBINARY(MAX))
	WHERE
		CODIGO = @CODIGO;
		
	SELECT 
		@RUTA_ARCHIVO = DATA.PathName(),
		@TRANSACTION_CONTEXT = GET_FILESTREAM_TRANSACTION_CONTEXT()
	FROM 
		dbo.SOLICITUD_CAMBIO
	WHERE 
		CODIGO = @CODIGO;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_SEL_PROYECTO_LINEABASE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_SEL_PROYECTO_LINEABASE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_SEL_PROYECTO_LINEABASE]
@CODIGO_PROYECTO INT,
@CODIGO_LINEABASE INT,
@ESTADO VARCHAR(2),
@PRIORIDAD INT
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		SC.CODIGO,
		SC.NOMBRE,
		SC.CODIGO_PROYECTO,
		SC.CODIGO_LINEA_BASE,
		SC.CODIGO_USUARIO,
		SC.FECHA_APROBACION,
		SC.FECHA_REGISTRO,
		SC.ESTADO,
		SC.CODIGO_ECS,
		SC.PRIORIDAD,
		SC.MOTIVO,
		P.NOMBRE AS PROYECTO,
		LB.NOMBRE AS LINEA_BASE,
		E.NOMBRE AS ELEMENTO,
		SC.NOMBRE_ARCHIVO
	FROM
		dbo.SOLICITUD_CAMBIO AS SC
		INNER JOIN dbo.PROYECTO AS P
		ON SC.CODIGO_PROYECTO = P.CODIGO_PROYECTO
		INNER JOIN dbo.LINEA_BASE AS LB
		ON SC.CODIGO_LINEA_BASE = LB.CODIGO
		INNER JOIN dbo.ELEMENTO_CONFIGURACION AS E
		ON SC.CODIGO_ECS = E.CODIGO
	WHERE
		SC.CODIGO_PROYECTO = @CODIGO_PROYECTO
		AND (@CODIGO_LINEABASE = 0 OR SC.CODIGO_LINEA_BASE = @CODIGO_LINEABASE)
		AND (@ESTADO = ''0'' OR SC.ESTADO = @ESTADO)
		AND (@PRIORIDAD = 0 OR SC.PRIORIDAD = @PRIORIDAD);
		
	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_SEL_CODIGO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_SEL_CODIGO]
@CODIGO INT 
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		SC.CODIGO,
		SC.NOMBRE,
		SC.CODIGO_PROYECTO,
		SC.CODIGO_LINEA_BASE,
		SC.CODIGO_USUARIO,
		SC.FECHA_APROBACION,
		SC.FECHA_REGISTRO,
		SC.ESTADO,
		SC.CODIGO_ECS,
		SC.PRIORIDAD,
		SC.MOTIVO,
		P.NOMBRE AS PROYECTO,
		LB.NOMBRE AS LINEA_BASE,
		E.NOMBRE AS ELEMENTO,
		SC.NOMBRE_ARCHIVO
	FROM
		dbo.SOLICITUD_CAMBIO AS SC
		INNER JOIN dbo.PROYECTO AS P
		ON SC.CODIGO_PROYECTO = P.CODIGO_PROYECTO
		INNER JOIN dbo.LINEA_BASE AS LB
		ON SC.CODIGO_LINEA_BASE = LB.CODIGO
		INNER JOIN dbo.ELEMENTO_CONFIGURACION AS E
		ON SC.CODIGO_ECS = E.CODIGO
	WHERE
		SC.CODIGO = @CODIGO;
		
	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_SEL_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_SEL_ARCHIVO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_SEL_ARCHIVO]
@CODIGO INT
AS
BEGIN
	SET NOCOUNT ON;	
	
	SELECT
		NOMBRE_ARCHIVO,
		DATA.PathName() AS RUTA_ARCHIVO,
		GET_FILESTREAM_TRANSACTION_CONTEXT() AS TRANSACTION_CONTEXT
	FROM 
		dbo.SOLICITUD_CAMBIO
	WHERE 
		CODIGO = @CODIGO;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_MOTIVO_UPD]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_MOTIVO_UPD]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_MOTIVO_UPD]
@CODIGO INT,
@MOTIVO VARCHAR(200)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE 
		[dbo].SOLICITUD_CAMBIO
	SET
		MOTIVO = @MOTIVO
	WHERE
	CODIGO = @CODIGO;

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_INS]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_INS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_INS]
@CODIGO INT OUTPUT,
@NOMBRE VARCHAR(50),
@CODIGO_PROYECTO INT,
@CODIGO_LINEABASE INT,
@CODIGO_USUARIO INT,
@FECHA_REGISTRO DATE,
@ESTADO VARCHAR(2),
@CODIGO_ECS INT,
@PRIORIDAD INT
AS
BEGIN
	SET NOCOUNT ON;	
	
	INSERT INTO dbo.SOLICITUD_CAMBIO(
		NOMBRE, 
		CODIGO_PROYECTO, 
		CODIGO_LINEA_BASE, 
		CODIGO_USUARIO, 
		FECHA_REGISTRO, 
		ESTADO, 
		CODIGO_ECS, 
		PRIORIDAD)
	VALUES(
		@NOMBRE,
		@CODIGO_PROYECTO,
		@CODIGO_LINEABASE,
		@CODIGO_USUARIO,
		@FECHA_REGISTRO,
		@ESTADO,
		@CODIGO_ECS,
		@PRIORIDAD
	);
	
	SET @CODIGO = SCOPE_IDENTITY();
	
	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_ESTADO_UPD]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_ESTADO_UPD]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_ESTADO_UPD]
@CODIGO INT,
@ESTADO INT
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE 
		[dbo].SOLICITUD_CAMBIO
	SET
		ESTADO = @ESTADO
	WHERE
	CODIGO = @CODIGO;

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SOLICITUD_CAMBIO_APROBAR_UPD]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SOLICITUD_CAMBIO_APROBAR_UPD]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_SOLICITUD_CAMBIO_APROBAR_UPD]
@CODIGO INT,
@MOTIVO VARCHAR(200),
@ESTADO VARCHAR(2)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE 
		[dbo].SOLICITUD_CAMBIO
	SET
		MOTIVO = @MOTIVO,
		ESTADO = @ESTADO,
		FECHA_APROBACION = GETDATE()
	WHERE
	CODIGO = @CODIGO;

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LISTA_SOLICITUD_PROYECTO_BASE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LISTA_SOLICITUD_PROYECTO_BASE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_LISTA_SOLICITUD_PROYECTO_BASE]
@CODIGO_PROYECTO int,
@CODIGO_LINEABASE int
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT  
		SC.CODIGO, SC.CODIGO_ECS, SC.CODIGO_LINEA_BASE, SC.CODIGO_PROYECTO, SC.CODIGO_USUARIO, SC.ESTADO, SC.FECHA_REGISTRO, SC.NOMBRE
	FROM [dbo].SOLICITUD_CAMBIO AS SC 
			WHERE SC.CODIGO_PROYECTO = @CODIGO_PROYECTO AND SC.CODIGO_LINEA_BASE = @CODIGO_LINEABASE;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  Table [dbo].[INFORME_CAMBIO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INFORME_CAMBIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[INFORME_CAMBIO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[CODIGO_SOLICITUD] [int] NULL,
	[CODIGO_USUARIO] [varchar](8) NULL,
	[FECHA_REGISTRO] [date] NULL,
	[FECHA_APROBACION] [date] NULL,
	[ESTADO] [int] NULL,
	[ESTIMACION_COSTO] [varchar](200) NULL,
	[ESTIMACION_ESFUERZO] [varchar](200) NULL,
	[RECURSOS] [varchar](200) NULL,
	[MOTIVO] [varchar](200) NULL,
	[ROWGUID] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF__INFORME_C__ROWGU__48CFD27E]  DEFAULT (newid()),
	[NOMBRE_ARCHIVO] [varchar](50) NULL,
	[EXTENSION] [char](3) NULL,
	[DATA] [varbinary](max) FILESTREAM  NULL,
 CONSTRAINT [PK__INFORME___CC87E1271BFD2C07] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY] FILESTREAM_ON [TMD_fg_filestream],
 CONSTRAINT [UQ__INFORME___D7A3AA553C69FB99] UNIQUE NONCLUSTERED 
(
	[ROWGUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] FILESTREAM_ON [TMD_fg_filestream]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[INFORME_CAMBIO] ON
INSERT [dbo].[INFORME_CAMBIO] ([CODIGO], [NOMBRE], [CODIGO_SOLICITUD], [CODIGO_USUARIO], [FECHA_REGISTRO], [FECHA_APROBACION], [ESTADO], [ESTIMACION_COSTO], [ESTIMACION_ESFUERZO], [RECURSOS], [MOTIVO], [ROWGUID], [NOMBRE_ARCHIVO], [EXTENSION], [DATA]) VALUES (1, N'Informe 1', 1, N'3', CAST(0xDF360B00 AS Date), CAST(0xE0360B00 AS Date), 2, N'Costo', N'Esfuerzo', N'Esfuerzo', N'Aprobado', N'5911338c-96bf-4237-8d80-5652cd3a55b9', N'Informe 1.rtf', N'rtf', 0x7B5C727466317D)
SET IDENTITY_INSERT [dbo].[INFORME_CAMBIO] OFF
/****** Object:  Table [dbo].[ORDEN_CAMBIO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORDEN_CAMBIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ORDEN_CAMBIO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_INFORME] [int] NULL,
	[CODIGO_USUARIO_REG] [int] NULL,
	[FECHA_REGISTRO] [date] NULL,
	[CODIGO_USUARIO_ASIGNADO] [int] NULL,
	[ROWGUID] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF__ORDEN_CAM__ROWGU__74AE54BC]  DEFAULT (newid()),
	[NOMBRE_ARCHIVO] [varchar](50) NULL,
	[EXTENSION] [char](3) NULL,
	[NOMBRE] [varchar](50) NULL,
	[PRIORIDAD] [int] NULL,
	[DATA] [varbinary](max) FILESTREAM  NULL,
 CONSTRAINT [PK__ORDEN_CA__CC87E1271FCDBCEB] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY] FILESTREAM_ON [TMD_fg_filestream],
 CONSTRAINT [UQ__ORDEN_CA__D7A3AA5576969D2E] UNIQUE NONCLUSTERED 
(
	[ROWGUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] FILESTREAM_ON [TMD_fg_filestream]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_UPD_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_UPD_ARCHIVO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE  PROCEDURE [dbo].[USP_INFORME_CAMBIO_UPD_ARCHIVO]
@CODIGO INT,
@NOMBRE_ARCHIVO VARCHAR(50),
@EXTENSION CHAR(3),
@RUTA_ARCHIVO VARCHAR(MAX) OUTPUT,
@TRANSACTION_CONTEXT VARBINARY(MAX) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;	
	
	UPDATE 
		dbo.INFORME_CAMBIO
	SET 
		NOMBRE_ARCHIVO = @NOMBRE_ARCHIVO,
		EXTENSION = @EXTENSION,
		DATA = CAST('''' AS VARBINARY(MAX))
	WHERE
		CODIGO = @CODIGO;
		
	SELECT 
		@RUTA_ARCHIVO = DATA.PathName(),
		@TRANSACTION_CONTEXT = GET_FILESTREAM_TRANSACTION_CONTEXT()
	FROM 
		dbo.INFORME_CAMBIO
	WHERE 
		CODIGO = @CODIGO;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE_NONULL]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE_NONULL]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE PROCEDURE [dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE_NONULL]
@CODIGO_PROYECTO INT,
@CODIGO_LINEABASE INT
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		A.CODIGO AS CODIGO_SOLICITUD,
		A.NOMBRE AS NOMBRE_SOLICITUD,
		A.FECHA_APROBACION AS SOLICITUD_FECHA_APROBACION,
		B.CODIGO,
		B.NOMBRE,
		B.ESTADO,
		B.FECHA_REGISTRO,
		B.FECHA_APROBACION,
		B.MOTIVO,
		B.NOMBRE_ARCHIVO
	FROM 
		dbo.SOLICITUD_CAMBIO AS A LEFT JOIN dbo.INFORME_CAMBIO AS B
	ON 
		B.CODIGO_SOLICITUD = A.CODIGO 
	WHERE 
		A.ESTADO = 2 AND A.CODIGO_PROYECTO = @CODIGO_PROYECTO AND A.CODIGO_LINEA_BASE = @CODIGO_LINEABASE AND B.ESTADO > 2
		
	SET NOCOUNT OFF;
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE PROCEDURE [dbo].[USP_INFORME_CAMBIO_SEL_PROYECTO_LINEABASE]
@CODIGO_PROYECTO INT,
@CODIGO_LINEABASE INT
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		A.CODIGO AS CODIGO_SOLICITUD,
		A.NOMBRE AS NOMBRE_SOLICITUD,
		A.FECHA_APROBACION AS SOLICITUD_FECHA_APROBACION,
		B.CODIGO,
		B.NOMBRE,
		B.ESTADO,
		B.FECHA_REGISTRO,
		B.FECHA_APROBACION,
		B.MOTIVO,
		B.NOMBRE_ARCHIVO
	FROM 
		dbo.SOLICITUD_CAMBIO AS A LEFT JOIN dbo.INFORME_CAMBIO AS B
	ON 
		B.CODIGO_SOLICITUD = A.CODIGO 
	WHERE 
		A.ESTADO = 2 AND A.CODIGO_PROYECTO = @CODIGO_PROYECTO AND A.CODIGO_LINEA_BASE = @CODIGO_LINEABASE
		
	SET NOCOUNT OFF;
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_SEL_CODIGO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_SEL_CODIGO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE PROCEDURE [dbo].[USP_INFORME_CAMBIO_SEL_CODIGO]
@CODIGO_INFORME INT
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		A.CODIGO AS CODIGO_SOLICITUD,
		A.CODIGO_PROYECTO,
		A.CODIGO_LINEA_BASE,
		B.NOMBRE AS NOMBRE_INFORME,
		B.ESTIMACION_COSTO,
		B.ESTIMACION_ESFUERZO,
		B.RECURSOS
	FROM 
		dbo.SOLICITUD_CAMBIO AS A LEFT JOIN dbo.INFORME_CAMBIO AS B
	ON 
		B.CODIGO_SOLICITUD = A.CODIGO 
	WHERE 
		B.CODIGO = @CODIGO_INFORME
		
	SET NOCOUNT OFF;
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_SEL_ARCHIVO]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_SEL_ARCHIVO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_INFORME_CAMBIO_SEL_ARCHIVO]
@CODIGO INT
AS
BEGIN
	SET NOCOUNT ON;	
	
	SELECT
		NOMBRE_ARCHIVO,
		DATA.PathName() AS RUTA_ARCHIVO,
		GET_FILESTREAM_TRANSACTION_CONTEXT() AS TRANSACTION_CONTEXT
	FROM 
		dbo.INFORME_CAMBIO
	WHERE 
		CODIGO = @CODIGO;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_INS]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_INS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_INFORME_CAMBIO_INS]
@CODIGO INT OUTPUT,
@NOMBRE VARCHAR(50),
@CODIGO_SOLICITUD INT,
@CODIGO_USUARIO INT,
@FECHA_REGISTRO DATETIME,
@ESTADO INT,
@ESTIMACION_COSTO VARCHAR(200),
@ESTIMACION_ESFUERZO VARCHAR(200),
@RECURSOS VARCHAR(200)
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO [dbo].[INFORME_CAMBIO] (
		CODIGO_SOLICITUD, 
		CODIGO_USUARIO,
		NOMBRE,
		FECHA_REGISTRO, 
		ESTADO,
		ESTIMACION_COSTO,
		ESTIMACION_ESFUERZO,
		RECURSOS
		)
	VALUES
		(@CODIGO_SOLICITUD, 
		@CODIGO_USUARIO, 
		@NOMBRE,
		@FECHA_REGISTRO, 
		@ESTADO,
		@ESTIMACION_COSTO,
		@ESTIMACION_ESFUERZO,
		@RECURSOS
		);

	SET @CODIGO = SCOPE_IDENTITY();

	SET NOCOUNT OFF;

END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INFORME_CAMBIO_APROBAR_UPD]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INFORME_CAMBIO_APROBAR_UPD]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE  PROCEDURE [dbo].[USP_INFORME_CAMBIO_APROBAR_UPD]
@CODIGO INT,
@ESTADO INT,
@MOTIVO VARCHAR(200)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE 
		[dbo].INFORME_CAMBIO
	SET
		ESTADO = @ESTADO,
		MOTIVO = @MOTIVO,
		FECHA_APROBACION = GETDATE()
	WHERE
		CODIGO = @CODIGO;

	SET NOCOUNT OFF;

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LISTA_INFORME_POR_SOLICITUD]    Script Date: 03/18/2013 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_LISTA_INFORME_POR_SOLICITUD]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_LISTA_INFORME_POR_SOLICITUD]
@CODIGO_PROYECTO int,
@CODIGO_LINEABASE int
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT  
		A.CODIGO,
		A.CODIGO_ECS,
		A.CODIGO_LINEA_BASE,
		A.CODIGO_PROYECTO,
		A.CODIGO_USUARIO,
		A.ESTADO,
		A.FECHA_REGISTRO,
		A.NOMBRE,
		A.PRIORIDAD,
		A.MOTIVO,
		B.CODIGO AS CODIGO_INFORME
	FROM [dbo].SOLICITUD_CAMBIO AS A LEFT OUTER JOIN [dbo].INFORME_CAMBIO AS B 
			ON A.CODIGO = B.CODIGO_SOLICITUD WHERE A.CODIGO_PROYECTO = @CODIGO_PROYECTO AND A.CODIGO_LINEA_BASE = @CODIGO_LINEABASE AND A.ESTADO = ''A'';

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 03/18/2013 18:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDITORIA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AUDITORIA](
	[NUMERO] [varchar](10) NOT NULL,
	[CODIGO_USUARIO_RESP] [int] NOT NULL,
	[CODIGO_ORDEN_CAMBIO] [int] NOT NULL,
	[CODIGO_PROYECTO] [int] NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_FIN] [date] NOT NULL,
	[RECOMENDACIONES] [varchar](100) NOT NULL,
	[ESTADO] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_UPD_ARCHIVO]    Script Date: 03/18/2013 18:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_UPD_ARCHIVO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE  PROCEDURE [dbo].[USP_ORDEN_CAMBIO_UPD_ARCHIVO]
@CODIGO INT,
@NOMBRE_ARCHIVO VARCHAR(50),
@EXTENSION CHAR(3),
@RUTA_ARCHIVO VARCHAR(MAX) OUTPUT,
@TRANSACTION_CONTEXT VARBINARY(MAX) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;	
	
	UPDATE 
		dbo.ORDEN_CAMBIO
	SET 
		NOMBRE_ARCHIVO = @NOMBRE_ARCHIVO,
		EXTENSION = @EXTENSION,
		DATA = CAST('''' AS VARBINARY(MAX))
	WHERE
		CODIGO = @CODIGO;
		
	SELECT 
		@RUTA_ARCHIVO = DATA.PathName(),
		@TRANSACTION_CONTEXT = GET_FILESTREAM_TRANSACTION_CONTEXT()
	FROM 
		dbo.ORDEN_CAMBIO
	WHERE 
		CODIGO = @CODIGO;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_SEL_PROYECTO_LINEABASE]    Script Date: 03/18/2013 18:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_SEL_PROYECTO_LINEABASE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_ORDEN_CAMBIO_SEL_PROYECTO_LINEABASE]
@CODIGO_PROYECTO INT,
@CODIGO_LINEABASE INT
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT  
		OC.CODIGO, OC.NOMBRE AS NOMBRE_ORDEN, OC.CODIGO_INFORME, IC.NOMBRE, 
		OC.CODIGO_USUARIO_REG, OC.FECHA_REGISTRO, OC.PRIORIDAD, 
		OC.CODIGO_USUARIO_ASIGNADO, OC.NOMBRE_ARCHIVO
	FROM
		dbo.ORDEN_CAMBIO AS OC
		INNER JOIN dbo.INFORME_CAMBIO AS IC
		ON IC.CODIGO = OC.CODIGO_INFORME
		INNER JOIN dbo.SOLICITUD_CAMBIO AS S
		ON S.CODIGO = IC.CODIGO_SOLICITUD
	WHERE
		S.CODIGO_PROYECTO = @CODIGO_PROYECTO
		AND (@CODIGO_LINEABASE = 0 OR S.CODIGO_LINEA_BASE = @CODIGO_LINEABASE)
	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_SEL_INFORME]    Script Date: 03/18/2013 18:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_SEL_INFORME]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_ORDEN_CAMBIO_SEL_INFORME]
@CODIGO_INFORME INT
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT  
		OC.CODIGO, OC.NOMBRE AS NOMBRE_ORDEN, OC.CODIGO_INFORME, IC.NOMBRE, 
		OC.CODIGO_USUARIO_REG, OC.FECHA_REGISTRO, OC.PRIORIDAD, 
		OC.CODIGO_USUARIO_ASIGNADO, OC.NOMBRE_ARCHIVO
	FROM
		dbo.ORDEN_CAMBIO AS OC
		INNER JOIN dbo.INFORME_CAMBIO AS IC
		ON IC.CODIGO = OC.CODIGO_INFORME
	WHERE
		OC.CODIGO_INFORME = @CODIGO_INFORME
	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_SEL_CODIGO]    Script Date: 03/18/2013 18:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_SEL_CODIGO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_ORDEN_CAMBIO_SEL_CODIGO]
@CODIGO INT 
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT  
		OC.CODIGO, OC.NOMBRE AS NOMBRE_ORDEN, OC.CODIGO_INFORME, IC.NOMBRE, 
		OC.CODIGO_USUARIO_REG, OC.FECHA_REGISTRO, OC.PRIORIDAD, 
		OC.CODIGO_USUARIO_ASIGNADO, U.NOMBRE AS NOMBRE_USUARIO, OC.NOMBRE_ARCHIVO,
		P.CODIGO_PROYECTO, P.NOMBRE AS NOMBRE_PROYECTO,
		LB.CODIGO AS CODIGO_LINEA, LB.NOMBRE AS NOMBRE_LINEA
	FROM
		dbo.ORDEN_CAMBIO AS OC
		INNER JOIN dbo.INFORME_CAMBIO AS IC
		ON IC.CODIGO = OC.CODIGO_INFORME
		INNER JOIN dbo.SOLICITUD_CAMBIO AS S
		ON S.CODIGO = IC.CODIGO_SOLICITUD
		INNER JOIN dbo.PROYECTO AS P
		ON P.CODIGO_PROYECTO = S.CODIGO_PROYECTO
		INNER JOIN dbo.LINEA_BASE AS LB
		ON LB.CODIGO = S.CODIGO_LINEA_BASE
		INNER JOIN dbo.USUARIO AS U
		ON U.CODIGO = OC.CODIGO_USUARIO_ASIGNADO
	WHERE
		OC.CODIGO = @CODIGO
		
	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_SEL_ARCHIVO]    Script Date: 03/18/2013 18:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_SEL_ARCHIVO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_ORDEN_CAMBIO_SEL_ARCHIVO]
@CODIGO INT
AS
BEGIN
	SET NOCOUNT ON;	
	
	SELECT
		NOMBRE_ARCHIVO,
		DATA.PathName() AS RUTA_ARCHIVO,
		GET_FILESTREAM_TRANSACTION_CONTEXT() AS TRANSACTION_CONTEXT
	FROM 
		dbo.ORDEN_CAMBIO
	WHERE 
		CODIGO = @CODIGO;

	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ORDEN_CAMBIO_INS]    Script Date: 03/18/2013 18:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ORDEN_CAMBIO_INS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_ORDEN_CAMBIO_INS]
@CODIGO INT OUTPUT,
@NOMBRE VARCHAR(50),
@CODIGO_INFORME INT,
@CODIGO_USUARIO_REG INT,
@FECHA_REGISTRO DATE,
@CODIGO_USUARIO_ASIGNADO INT,
@PRIORIDAD INT
AS
BEGIN
	SET NOCOUNT ON;
	
	INSERT INTO dbo.ORDEN_CAMBIO(
		NOMBRE,
		CODIGO_INFORME,
		CODIGO_USUARIO_REG,
		FECHA_REGISTRO,
		CODIGO_USUARIO_ASIGNADO,
		PRIORIDAD)
	VALUES(
		@NOMBRE,
		@CODIGO_INFORME,
		@CODIGO_USUARIO_REG,
		@FECHA_REGISTRO,
		@CODIGO_USUARIO_ASIGNADO,
		@PRIORIDAD
	);
	
	SET @CODIGO = SCOPE_IDENTITY();
	
	SET NOCOUNT OFF;
END
' 
END
GO
/****** Object:  ForeignKey [FK_Proyecto_CLIENTE]    Script Date: 03/18/2013 18:17:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Proyecto_CLIENTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_Proyecto_CLIENTE] FOREIGN KEY([CODIGO_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Proyecto_CLIENTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_Proyecto_CLIENTE]
GO
/****** Object:  ForeignKey [FK_Proyecto_USUARIO]    Script Date: 03/18/2013 18:17:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Proyecto_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_Proyecto_USUARIO] FOREIGN KEY([CODIGO_JEFE_PROYECTO])
REFERENCES [dbo].[USUARIO] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Proyecto_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_Proyecto_USUARIO]
GO
/****** Object:  ForeignKey [FK_ELEMENTO_CONFIGURACION_FASE]    Script Date: 03/18/2013 18:17:40 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ELEMENTO_CONFIGURACION_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[ELEMENTO_CONFIGURACION]'))
ALTER TABLE [dbo].[ELEMENTO_CONFIGURACION]  WITH CHECK ADD  CONSTRAINT [FK_ELEMENTO_CONFIGURACION_FASE] FOREIGN KEY([CODIGO_FASE])
REFERENCES [dbo].[FASE] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ELEMENTO_CONFIGURACION_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[ELEMENTO_CONFIGURACION]'))
ALTER TABLE [dbo].[ELEMENTO_CONFIGURACION] CHECK CONSTRAINT [FK_ELEMENTO_CONFIGURACION_FASE]
GO
/****** Object:  ForeignKey [FK_PROYECTO_FASE_FASE]    Script Date: 03/18/2013 18:17:40 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_FASE_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO_FASE]'))
ALTER TABLE [dbo].[PROYECTO_FASE]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_FASE_FASE] FOREIGN KEY([CODIGO_FASE])
REFERENCES [dbo].[FASE] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_FASE_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO_FASE]'))
ALTER TABLE [dbo].[PROYECTO_FASE] CHECK CONSTRAINT [FK_PROYECTO_FASE_FASE]
GO
/****** Object:  ForeignKey [FK_PROYECTO_FASE_Proyecto1]    Script Date: 03/18/2013 18:17:40 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_FASE_Proyecto1]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO_FASE]'))
ALTER TABLE [dbo].[PROYECTO_FASE]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_FASE_Proyecto1] FOREIGN KEY([CODIGO_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([CODIGO_PROYECTO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_FASE_Proyecto1]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO_FASE]'))
ALTER TABLE [dbo].[PROYECTO_FASE] CHECK CONSTRAINT [FK_PROYECTO_FASE_Proyecto1]
GO
/****** Object:  ForeignKey [FK_USUARIO_PROYECTO_Proyecto]    Script Date: 03/18/2013 18:17:40 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USUARIO_PROYECTO_Proyecto]') AND parent_object_id = OBJECT_ID(N'[dbo].[USUARIO_PROYECTO]'))
ALTER TABLE [dbo].[USUARIO_PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PROYECTO_Proyecto] FOREIGN KEY([CODIGO_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([CODIGO_PROYECTO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USUARIO_PROYECTO_Proyecto]') AND parent_object_id = OBJECT_ID(N'[dbo].[USUARIO_PROYECTO]'))
ALTER TABLE [dbo].[USUARIO_PROYECTO] CHECK CONSTRAINT [FK_USUARIO_PROYECTO_Proyecto]
GO
/****** Object:  ForeignKey [FK_USUARIO_PROYECTO_USUARIO]    Script Date: 03/18/2013 18:17:40 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USUARIO_PROYECTO_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[USUARIO_PROYECTO]'))
ALTER TABLE [dbo].[USUARIO_PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PROYECTO_USUARIO] FOREIGN KEY([CODIGO_USUARIO])
REFERENCES [dbo].[USUARIO] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USUARIO_PROYECTO_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[USUARIO_PROYECTO]'))
ALTER TABLE [dbo].[USUARIO_PROYECTO] CHECK CONSTRAINT [FK_USUARIO_PROYECTO_USUARIO]
GO
/****** Object:  ForeignKey [FK_LINEA_BASE_PROYECTO_FASE]    Script Date: 03/18/2013 18:17:40 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_PROYECTO_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE]'))
ALTER TABLE [dbo].[LINEA_BASE]  WITH CHECK ADD  CONSTRAINT [FK_LINEA_BASE_PROYECTO_FASE] FOREIGN KEY([CODIGO_PROYECTO_FASE])
REFERENCES [dbo].[PROYECTO_FASE] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_PROYECTO_FASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE]'))
ALTER TABLE [dbo].[LINEA_BASE] CHECK CONSTRAINT [FK_LINEA_BASE_PROYECTO_FASE]
GO
/****** Object:  ForeignKey [FK_LINEA_BASE_DETALLE_ELEMENTO_CONFIGURACION]    Script Date: 03/18/2013 18:17:40 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_DETALLE_ELEMENTO_CONFIGURACION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE_DETALLE]'))
ALTER TABLE [dbo].[LINEA_BASE_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_LINEA_BASE_DETALLE_ELEMENTO_CONFIGURACION] FOREIGN KEY([CODIGO_ECS])
REFERENCES [dbo].[ELEMENTO_CONFIGURACION] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_DETALLE_ELEMENTO_CONFIGURACION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE_DETALLE]'))
ALTER TABLE [dbo].[LINEA_BASE_DETALLE] CHECK CONSTRAINT [FK_LINEA_BASE_DETALLE_ELEMENTO_CONFIGURACION]
GO
/****** Object:  ForeignKey [FK_LINEA_BASE_DETALLE_LINEA_BASE]    Script Date: 03/18/2013 18:17:40 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_DETALLE_LINEA_BASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE_DETALLE]'))
ALTER TABLE [dbo].[LINEA_BASE_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_LINEA_BASE_DETALLE_LINEA_BASE] FOREIGN KEY([CODIGO_LINEA_BASE])
REFERENCES [dbo].[LINEA_BASE] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEA_BASE_DETALLE_LINEA_BASE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEA_BASE_DETALLE]'))
ALTER TABLE [dbo].[LINEA_BASE_DETALLE] CHECK CONSTRAINT [FK_LINEA_BASE_DETALLE_LINEA_BASE]
GO
/****** Object:  ForeignKey [FK_SOLICITUD_CAMBIO_LINEA_BASE_DETALLE]    Script Date: 03/18/2013 18:17:40 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SOLICITUD_CAMBIO_LINEA_BASE_DETALLE]') AND parent_object_id = OBJECT_ID(N'[dbo].[SOLICITUD_CAMBIO]'))
ALTER TABLE [dbo].[SOLICITUD_CAMBIO]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITUD_CAMBIO_LINEA_BASE_DETALLE] FOREIGN KEY([CODIGO_LINEA_BASE])
REFERENCES [dbo].[LINEA_BASE_DETALLE] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SOLICITUD_CAMBIO_LINEA_BASE_DETALLE]') AND parent_object_id = OBJECT_ID(N'[dbo].[SOLICITUD_CAMBIO]'))
ALTER TABLE [dbo].[SOLICITUD_CAMBIO] CHECK CONSTRAINT [FK_SOLICITUD_CAMBIO_LINEA_BASE_DETALLE]
GO
/****** Object:  ForeignKey [FK_INFORME_CAMBIO_SOLICITUD_CAMBIO]    Script Date: 03/18/2013 18:17:40 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_INFORME_CAMBIO_SOLICITUD_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[INFORME_CAMBIO]'))
ALTER TABLE [dbo].[INFORME_CAMBIO]  WITH CHECK ADD  CONSTRAINT [FK_INFORME_CAMBIO_SOLICITUD_CAMBIO] FOREIGN KEY([CODIGO_SOLICITUD])
REFERENCES [dbo].[SOLICITUD_CAMBIO] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_INFORME_CAMBIO_SOLICITUD_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[INFORME_CAMBIO]'))
ALTER TABLE [dbo].[INFORME_CAMBIO] CHECK CONSTRAINT [FK_INFORME_CAMBIO_SOLICITUD_CAMBIO]
GO
/****** Object:  ForeignKey [FK_ORDEN_CAMBIO_INFORME_CAMBIO]    Script Date: 03/18/2013 18:17:40 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDEN_CAMBIO_INFORME_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDEN_CAMBIO]'))
ALTER TABLE [dbo].[ORDEN_CAMBIO]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_CAMBIO_INFORME_CAMBIO] FOREIGN KEY([CODIGO_INFORME])
REFERENCES [dbo].[INFORME_CAMBIO] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDEN_CAMBIO_INFORME_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDEN_CAMBIO]'))
ALTER TABLE [dbo].[ORDEN_CAMBIO] CHECK CONSTRAINT [FK_ORDEN_CAMBIO_INFORME_CAMBIO]
GO
/****** Object:  ForeignKey [FK_AUDITORIA_ORDEN_CAMBIO]    Script Date: 03/18/2013 18:17:41 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AUDITORIA_ORDEN_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[AUDITORIA]'))
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [FK_AUDITORIA_ORDEN_CAMBIO] FOREIGN KEY([CODIGO_ORDEN_CAMBIO])
REFERENCES [dbo].[ORDEN_CAMBIO] ([CODIGO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AUDITORIA_ORDEN_CAMBIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[AUDITORIA]'))
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [FK_AUDITORIA_ORDEN_CAMBIO]
GO
